/*
 * Brevo API
 * Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :   - Manage your campaigns and get the statistics   - Manage your contacts   - Send transactional Emails and SMS   - and much more...  You can download our wrappers at https://github.com/orgs/brevo  **Possible responses**   | Code | Message |   | :-------------: | ------------- |   | 200  | OK. Successful Request  |   | 201  | OK. Successful Creation |   | 202  | OK. Request accepted |   | 204  | OK. Successful Update/Deletion  |   | 400  | Error. Bad Request  |   | 401  | Error. Authentication Needed  |   | 402  | Error. Not enough credit, plan upgrade needed  |   | 403  | Error. Permission denied  |   | 404  | Error. Object does not exist |   | 405  | Error. Method not allowed  |   | 406  | Error. Not Acceptable  |   | 422  | Error. Unprocessable Entity | 
 *
 * OpenAPI spec version: 3.0.0
 * Contact: contact@brevo.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package brevoApi;

import brevo.ApiCallback;
import brevo.ApiClient;
import brevo.ApiException;
import brevo.ApiResponse;
import brevo.Configuration;
import brevo.Pair;
import brevo.ProgressRequestBody;
import brevo.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import brevoModel.Balance;
import brevoModel.BalanceDefinition;
import brevoModel.BalanceDefinitionPage;
import brevoModel.BalanceLimit;
import brevoModel.BalanceOrder;
import brevoModel.ContactBalancesResp;
import brevoModel.CreateBalanceDefinitionPayload;
import brevoModel.CreateBalanceLimitPayload;
import brevoModel.CreateBalancePayload;
import brevoModel.CreateOrderPayload;
import brevoModel.CreateTransactionPayload;
import brevoModel.ErrorResponse;
import brevoModel.ModelSubscriptionBalanceResp;
import brevoModel.Transaction;
import brevoModel.TransactionHistoryResp;
import java.util.UUID;
import brevoModel.UpdateBalanceDefinitionPayload;
import brevoModel.UpdateBalanceLimitPayload;
import okhttp3.*;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BalanceApi {
    private ApiClient apiClient;

    public BalanceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BalanceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for beginTransaction
     * @param pid Loyalty Program Id (required)
     * @param body Transaction Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call beginTransactionCall(UUID pid, CreateTransactionPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/transactions"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call beginTransactionValidateBeforeCall(UUID pid, CreateTransactionPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling beginTransaction(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling beginTransaction(Async)");
        }
        

        Call call = beginTransactionCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create new transaction
     * Creates new transaction and returns information
     * @param pid Loyalty Program Id (required)
     * @param body Transaction Payload (required)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Transaction beginTransaction(UUID pid, CreateTransactionPayload body) throws ApiException {
        ApiResponse<Transaction> resp = beginTransactionWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Create new transaction
     * Creates new transaction and returns information
     * @param pid Loyalty Program Id (required)
     * @param body Transaction Payload (required)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Transaction> beginTransactionWithHttpInfo(UUID pid, CreateTransactionPayload body) throws ApiException {
        Call call = beginTransactionValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<Transaction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create new transaction (asynchronously)
     * Creates new transaction and returns information
     * @param pid Loyalty Program Id (required)
     * @param body Transaction Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call beginTransactionAsync(UUID pid, CreateTransactionPayload body, final ApiCallback<Transaction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = beginTransactionValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Transaction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cancelTransaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call cancelTransactionCall(UUID pid, UUID tid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/transactions/{tid}/cancel"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "tid" + "\\}", apiClient.escapeString(tid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call cancelTransactionValidateBeforeCall(UUID pid, UUID tid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling cancelTransaction(Async)");
        }
        
        // verify the required parameter 'tid' is set
        if (tid == null) {
            throw new ApiException("Missing the required parameter 'tid' when calling cancelTransaction(Async)");
        }
        

        Call call = cancelTransactionCall(pid, tid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Cancel transaction
     * Cancels transaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Transaction cancelTransaction(UUID pid, UUID tid) throws ApiException {
        ApiResponse<Transaction> resp = cancelTransactionWithHttpInfo(pid, tid);
        return resp.getData();
    }

    /**
     * Cancel transaction
     * Cancels transaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Transaction> cancelTransactionWithHttpInfo(UUID pid, UUID tid) throws ApiException {
        Call call = cancelTransactionValidateBeforeCall(pid, tid, null, null);
        Type localVarReturnType = new TypeToken<Transaction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel transaction (asynchronously)
     * Cancels transaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call cancelTransactionAsync(UUID pid, UUID tid, final ApiCallback<Transaction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = cancelTransactionValidateBeforeCall(pid, tid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Transaction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for completeTransaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call completeTransactionCall(UUID pid, UUID tid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/transactions/{tid}/complete"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "tid" + "\\}", apiClient.escapeString(tid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call completeTransactionValidateBeforeCall(UUID pid, UUID tid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling completeTransaction(Async)");
        }
        
        // verify the required parameter 'tid' is set
        if (tid == null) {
            throw new ApiException("Missing the required parameter 'tid' when calling completeTransaction(Async)");
        }
        

        Call call = completeTransactionCall(pid, tid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Complete transaction
     * Completes transaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Transaction completeTransaction(UUID pid, UUID tid) throws ApiException {
        ApiResponse<Transaction> resp = completeTransactionWithHttpInfo(pid, tid);
        return resp.getData();
    }

    /**
     * Complete transaction
     * Completes transaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Transaction> completeTransactionWithHttpInfo(UUID pid, UUID tid) throws ApiException {
        Call call = completeTransactionValidateBeforeCall(pid, tid, null, null);
        Type localVarReturnType = new TypeToken<Transaction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Complete transaction (asynchronously)
     * Completes transaction
     * @param pid Loyalty Program Id (required)
     * @param tid Transaction Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call completeTransactionAsync(UUID pid, UUID tid, final ApiCallback<Transaction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = completeTransactionValidateBeforeCall(pid, tid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Transaction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createBalanceLimit
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param body Balance Definition Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createBalanceLimitCall(UUID pid, UUID bdid, CreateBalanceLimitPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions/{bdid}/limits"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "bdid" + "\\}", apiClient.escapeString(bdid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createBalanceLimitValidateBeforeCall(UUID pid, UUID bdid, CreateBalanceLimitPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling createBalanceLimit(Async)");
        }
        
        // verify the required parameter 'bdid' is set
        if (bdid == null) {
            throw new ApiException("Missing the required parameter 'bdid' when calling createBalanceLimit(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createBalanceLimit(Async)");
        }
        

        Call call = createBalanceLimitCall(pid, bdid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create balance limits
     * Creates balance limit and sends the created UUID along with the data
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param body Balance Definition Payload (required)
     * @return BalanceLimit
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceLimit createBalanceLimit(UUID pid, UUID bdid, CreateBalanceLimitPayload body) throws ApiException {
        ApiResponse<BalanceLimit> resp = createBalanceLimitWithHttpInfo(pid, bdid, body);
        return resp.getData();
    }

    /**
     * Create balance limits
     * Creates balance limit and sends the created UUID along with the data
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param body Balance Definition Payload (required)
     * @return ApiResponse&lt;BalanceLimit&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceLimit> createBalanceLimitWithHttpInfo(UUID pid, UUID bdid, CreateBalanceLimitPayload body) throws ApiException {
        Call call = createBalanceLimitValidateBeforeCall(pid, bdid, body, null, null);
        Type localVarReturnType = new TypeToken<BalanceLimit>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create balance limits (asynchronously)
     * Creates balance limit and sends the created UUID along with the data
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param body Balance Definition Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createBalanceLimitAsync(UUID pid, UUID bdid, CreateBalanceLimitPayload body, final ApiCallback<BalanceLimit> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createBalanceLimitValidateBeforeCall(pid, bdid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceLimit>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createBalanceOrder
     * @param pid Loyalty Program Id (required)
     * @param body Order Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createBalanceOrderCall(UUID pid, CreateOrderPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/create-order"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createBalanceOrderValidateBeforeCall(UUID pid, CreateOrderPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling createBalanceOrder(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createBalanceOrder(Async)");
        }
        

        Call call = createBalanceOrderCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create balance order
     * Returns created order
     * @param pid Loyalty Program Id (required)
     * @param body Order Payload (required)
     * @return BalanceOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceOrder createBalanceOrder(UUID pid, CreateOrderPayload body) throws ApiException {
        ApiResponse<BalanceOrder> resp = createBalanceOrderWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Create balance order
     * Returns created order
     * @param pid Loyalty Program Id (required)
     * @param body Order Payload (required)
     * @return ApiResponse&lt;BalanceOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceOrder> createBalanceOrderWithHttpInfo(UUID pid, CreateOrderPayload body) throws ApiException {
        Call call = createBalanceOrderValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<BalanceOrder>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create balance order (asynchronously)
     * Returns created order
     * @param pid Loyalty Program Id (required)
     * @param body Order Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createBalanceOrderAsync(UUID pid, CreateOrderPayload body, final ApiCallback<BalanceOrder> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createBalanceOrderValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceOrder>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteBalanceDefinition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call deleteBalanceDefinitionCall(UUID pid, UUID bdid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions/{bdid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "bdid" + "\\}", apiClient.escapeString(bdid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call deleteBalanceDefinitionValidateBeforeCall(UUID pid, UUID bdid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling deleteBalanceDefinition(Async)");
        }
        
        // verify the required parameter 'bdid' is set
        if (bdid == null) {
            throw new ApiException("Missing the required parameter 'bdid' when calling deleteBalanceDefinition(Async)");
        }
        

        Call call = deleteBalanceDefinitionCall(pid, bdid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete balance definition
     * Delete Balance definition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteBalanceDefinition(UUID pid, UUID bdid) throws ApiException {
        deleteBalanceDefinitionWithHttpInfo(pid, bdid);
    }

    /**
     * Delete balance definition
     * Delete Balance definition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteBalanceDefinitionWithHttpInfo(UUID pid, UUID bdid) throws ApiException {
        Call call = deleteBalanceDefinitionValidateBeforeCall(pid, bdid, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete balance definition (asynchronously)
     * Delete Balance definition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call deleteBalanceDefinitionAsync(UUID pid, UUID bdid, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = deleteBalanceDefinitionValidateBeforeCall(pid, bdid, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteBalanceLimit
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call deleteBalanceLimitCall(UUID pid, UUID bdid, UUID blid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions/{bdid}/limits/{blid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "bdid" + "\\}", apiClient.escapeString(bdid.toString()))
            .replaceAll("\\{" + "blid" + "\\}", apiClient.escapeString(blid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call deleteBalanceLimitValidateBeforeCall(UUID pid, UUID bdid, UUID blid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling deleteBalanceLimit(Async)");
        }
        
        // verify the required parameter 'bdid' is set
        if (bdid == null) {
            throw new ApiException("Missing the required parameter 'bdid' when calling deleteBalanceLimit(Async)");
        }
        
        // verify the required parameter 'blid' is set
        if (blid == null) {
            throw new ApiException("Missing the required parameter 'blid' when calling deleteBalanceLimit(Async)");
        }
        

        Call call = deleteBalanceLimitCall(pid, bdid, blid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete balance limit
     * Delete balance limit
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteBalanceLimit(UUID pid, UUID bdid, UUID blid) throws ApiException {
        deleteBalanceLimitWithHttpInfo(pid, bdid, blid);
    }

    /**
     * Delete balance limit
     * Delete balance limit
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteBalanceLimitWithHttpInfo(UUID pid, UUID bdid, UUID blid) throws ApiException {
        Call call = deleteBalanceLimitValidateBeforeCall(pid, bdid, blid, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete balance limit (asynchronously)
     * Delete balance limit
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call deleteBalanceLimitAsync(UUID pid, UUID bdid, UUID blid, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = deleteBalanceLimitValidateBeforeCall(pid, bdid, blid, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getBalanceDefinition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param version Version (optional, default to draft)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getBalanceDefinitionCall(UUID pid, UUID bdid, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions/{bdid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "bdid" + "\\}", apiClient.escapeString(bdid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getBalanceDefinitionValidateBeforeCall(UUID pid, UUID bdid, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getBalanceDefinition(Async)");
        }
        
        // verify the required parameter 'bdid' is set
        if (bdid == null) {
            throw new ApiException("Missing the required parameter 'bdid' when calling getBalanceDefinition(Async)");
        }
        

        Call call = getBalanceDefinitionCall(pid, bdid, version, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get balance definition
     * Returns balance definition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param version Version (optional, default to draft)
     * @return BalanceDefinition
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceDefinition getBalanceDefinition(UUID pid, UUID bdid, String version) throws ApiException {
        ApiResponse<BalanceDefinition> resp = getBalanceDefinitionWithHttpInfo(pid, bdid, version);
        return resp.getData();
    }

    /**
     * Get balance definition
     * Returns balance definition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param version Version (optional, default to draft)
     * @return ApiResponse&lt;BalanceDefinition&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceDefinition> getBalanceDefinitionWithHttpInfo(UUID pid, UUID bdid, String version) throws ApiException {
        Call call = getBalanceDefinitionValidateBeforeCall(pid, bdid, version, null, null);
        Type localVarReturnType = new TypeToken<BalanceDefinition>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get balance definition (asynchronously)
     * Returns balance definition
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param version Version (optional, default to draft)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getBalanceDefinitionAsync(UUID pid, UUID bdid, String version, final ApiCallback<BalanceDefinition> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getBalanceDefinitionValidateBeforeCall(pid, bdid, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceDefinition>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBalanceDefinitionList
     * @param pid Loyalty Program Id (required)
     * @param limit Limit the number of records returned (optional, default to 200)
     * @param offset Offset to paginate records (optional, default to 0)
     * @param sortField Field to sort by (optional, default to updated_at)
     * @param sort Sort direction (optional, default to desc)
     * @param version Version (optional, default to draft)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getBalanceDefinitionListCall(UUID pid, Integer limit, Integer offset, String sortField, String sort, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (sortField != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortField", sortField));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getBalanceDefinitionListValidateBeforeCall(UUID pid, Integer limit, Integer offset, String sortField, String sort, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getBalanceDefinitionList(Async)");
        }
        

        Call call = getBalanceDefinitionListCall(pid, limit, offset, sortField, sort, version, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get balance definition list
     * Returns balance definition page
     * @param pid Loyalty Program Id (required)
     * @param limit Limit the number of records returned (optional, default to 200)
     * @param offset Offset to paginate records (optional, default to 0)
     * @param sortField Field to sort by (optional, default to updated_at)
     * @param sort Sort direction (optional, default to desc)
     * @param version Version (optional, default to draft)
     * @return BalanceDefinitionPage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceDefinitionPage getBalanceDefinitionList(UUID pid, Integer limit, Integer offset, String sortField, String sort, String version) throws ApiException {
        ApiResponse<BalanceDefinitionPage> resp = getBalanceDefinitionListWithHttpInfo(pid, limit, offset, sortField, sort, version);
        return resp.getData();
    }

    /**
     * Get balance definition list
     * Returns balance definition page
     * @param pid Loyalty Program Id (required)
     * @param limit Limit the number of records returned (optional, default to 200)
     * @param offset Offset to paginate records (optional, default to 0)
     * @param sortField Field to sort by (optional, default to updated_at)
     * @param sort Sort direction (optional, default to desc)
     * @param version Version (optional, default to draft)
     * @return ApiResponse&lt;BalanceDefinitionPage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceDefinitionPage> getBalanceDefinitionListWithHttpInfo(UUID pid, Integer limit, Integer offset, String sortField, String sort, String version) throws ApiException {
        Call call = getBalanceDefinitionListValidateBeforeCall(pid, limit, offset, sortField, sort, version, null, null);
        Type localVarReturnType = new TypeToken<BalanceDefinitionPage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get balance definition list (asynchronously)
     * Returns balance definition page
     * @param pid Loyalty Program Id (required)
     * @param limit Limit the number of records returned (optional, default to 200)
     * @param offset Offset to paginate records (optional, default to 0)
     * @param sortField Field to sort by (optional, default to updated_at)
     * @param sort Sort direction (optional, default to desc)
     * @param version Version (optional, default to draft)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getBalanceDefinitionListAsync(UUID pid, Integer limit, Integer offset, String sortField, String sort, String version, final ApiCallback<BalanceDefinitionPage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getBalanceDefinitionListValidateBeforeCall(pid, limit, offset, sortField, sort, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceDefinitionPage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBalanceLimit
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @param version Version (optional, default to draft)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getBalanceLimitCall(UUID pid, UUID bdid, UUID blid, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions/{bdid}/limits/{blid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "bdid" + "\\}", apiClient.escapeString(bdid.toString()))
            .replaceAll("\\{" + "blid" + "\\}", apiClient.escapeString(blid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getBalanceLimitValidateBeforeCall(UUID pid, UUID bdid, UUID blid, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getBalanceLimit(Async)");
        }
        
        // verify the required parameter 'bdid' is set
        if (bdid == null) {
            throw new ApiException("Missing the required parameter 'bdid' when calling getBalanceLimit(Async)");
        }
        
        // verify the required parameter 'blid' is set
        if (blid == null) {
            throw new ApiException("Missing the required parameter 'blid' when calling getBalanceLimit(Async)");
        }
        

        Call call = getBalanceLimitCall(pid, bdid, blid, version, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get balance limits
     * Fetches balance limits and send the created UUID along with the data
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @param version Version (optional, default to draft)
     * @return BalanceLimit
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceLimit getBalanceLimit(UUID pid, UUID bdid, UUID blid, String version) throws ApiException {
        ApiResponse<BalanceLimit> resp = getBalanceLimitWithHttpInfo(pid, bdid, blid, version);
        return resp.getData();
    }

    /**
     * Get balance limits
     * Fetches balance limits and send the created UUID along with the data
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @param version Version (optional, default to draft)
     * @return ApiResponse&lt;BalanceLimit&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceLimit> getBalanceLimitWithHttpInfo(UUID pid, UUID bdid, UUID blid, String version) throws ApiException {
        Call call = getBalanceLimitValidateBeforeCall(pid, bdid, blid, version, null, null);
        Type localVarReturnType = new TypeToken<BalanceLimit>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get balance limits (asynchronously)
     * Fetches balance limits and send the created UUID along with the data
     * @param pid Loyalty Program Id (required)
     * @param bdid Balance Definition Id (required)
     * @param blid Balance Limit Id (required)
     * @param version Version (optional, default to draft)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getBalanceLimitAsync(UUID pid, UUID bdid, UUID blid, String version, final ApiCallback<BalanceLimit> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getBalanceLimitValidateBeforeCall(pid, bdid, blid, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceLimit>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getContactBalances
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getContactBalancesCall(UUID pid, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/contact-balances"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (includeInternal != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("includeInternal", includeInternal));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getContactBalancesValidateBeforeCall(UUID pid, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getContactBalances(Async)");
        }


        Call call = getContactBalancesCall(pid, includeInternal, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get balance list
     * Returns balance list
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @return ContactBalancesResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ContactBalancesResp getContactBalances(UUID pid, Boolean includeInternal) throws ApiException {
        ApiResponse<ContactBalancesResp> resp = getContactBalancesWithHttpInfo(pid, includeInternal);
        return resp.getData();
    }

    /**
     * Get balance list
     * Returns balance list
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @return ApiResponse&lt;ContactBalancesResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ContactBalancesResp> getContactBalancesWithHttpInfo(UUID pid, Boolean includeInternal) throws ApiException {
        Call call = getContactBalancesValidateBeforeCall(pid, includeInternal, null, null);
        Type localVarReturnType = new TypeToken<ContactBalancesResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get balance list (asynchronously)
     * Returns balance list
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getContactBalancesAsync(UUID pid, Boolean includeInternal, final ApiCallback<ContactBalancesResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getContactBalancesValidateBeforeCall(pid, includeInternal, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ContactBalancesResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getSubscriptionBalances
     * @param cid Contact Id (required)
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getSubscriptionBalancesCall(String cid, UUID pid, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/subscriptions/{cid}/balances"
            .replaceAll("\\{" + "cid" + "\\}", apiClient.escapeString(cid.toString()))
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (includeInternal != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("includeInternal", includeInternal));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getSubscriptionBalancesValidateBeforeCall(String cid, UUID pid, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'cid' is set
        if (cid == null) {
            throw new ApiException("Missing the required parameter 'cid' when calling getSubscriptionBalances(Async)");
        }

        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getSubscriptionBalances(Async)");
        }


        Call call = getSubscriptionBalancesCall(cid, pid, includeInternal, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get subscription balances
     * Returns subscription balances
     * @param cid Contact Id (required)
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @return ModelSubscriptionBalanceResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ModelSubscriptionBalanceResp getSubscriptionBalances(String cid, UUID pid, Boolean includeInternal) throws ApiException {
        ApiResponse<ModelSubscriptionBalanceResp> resp = getSubscriptionBalancesWithHttpInfo(cid, pid, includeInternal);
        return resp.getData();
    }

    /**
     * Get subscription balances
     * Returns subscription balances
     * @param cid Contact Id (required)
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @return ApiResponse&lt;ModelSubscriptionBalanceResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ModelSubscriptionBalanceResp> getSubscriptionBalancesWithHttpInfo(String cid, UUID pid, Boolean includeInternal) throws ApiException {
        Call call = getSubscriptionBalancesValidateBeforeCall(cid, pid, includeInternal, null, null);
        Type localVarReturnType = new TypeToken<ModelSubscriptionBalanceResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get subscription balances (asynchronously)
     * Returns subscription balances
     * @param cid Contact Id (required)
     * @param pid Loyalty Program Id (required)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getSubscriptionBalancesAsync(String cid, UUID pid, Boolean includeInternal, final ApiCallback<ModelSubscriptionBalanceResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getSubscriptionBalancesValidateBeforeCall(cid, pid, includeInternal, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ModelSubscriptionBalanceResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyBalanceProgramsPidActiveBalanceGet
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact ID (required)
     * @param balanceDefinitionId Balance Definition ID (required)
     * @param limit Limit (optional)
     * @param offset Offset (optional)
     * @param sortField Sort Field (optional)
     * @param sort Sort Order (optional)
     * @param includeInternal Include Internal (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyBalanceProgramsPidActiveBalanceGetCall(UUID pid, Integer contactId, UUID balanceDefinitionId, Integer limit, Integer offset, String sortField, String sort, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/active-balance"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (sortField != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_field", sortField));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
        if (contactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("contact_id", contactId));
        if (balanceDefinitionId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("balance_definition_id", balanceDefinitionId));
        if (includeInternal != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("includeInternal", includeInternal));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyBalanceProgramsPidActiveBalanceGetValidateBeforeCall(UUID pid, Integer contactId, UUID balanceDefinitionId, Integer limit, Integer offset, String sortField, String sort, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyBalanceProgramsPidActiveBalanceGet(Async)");
        }
        
        // verify the required parameter 'contactId' is set
        if (contactId == null) {
            throw new ApiException("Missing the required parameter 'contactId' when calling loyaltyBalanceProgramsPidActiveBalanceGet(Async)");
        }
        
        // verify the required parameter 'balanceDefinitionId' is set
        if (balanceDefinitionId == null) {
            throw new ApiException("Missing the required parameter 'balanceDefinitionId' when calling loyaltyBalanceProgramsPidActiveBalanceGet(Async)");
        }
        

        Call call = loyaltyBalanceProgramsPidActiveBalanceGetCall(pid, contactId, balanceDefinitionId, limit, offset, sortField, sort, includeInternal, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Active Balances API
     * Returns Active Balances
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact ID (required)
     * @param balanceDefinitionId Balance Definition ID (required)
     * @param limit Limit (optional)
     * @param offset Offset (optional)
     * @param sortField Sort Field (optional)
     * @param sort Sort Order (optional)
     * @param includeInternal Include Internal (optional)
     * @return BalanceLimit
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceLimit loyaltyBalanceProgramsPidActiveBalanceGet(UUID pid, Integer contactId, UUID balanceDefinitionId, Integer limit, Integer offset, String sortField, String sort, Boolean includeInternal) throws ApiException {
        ApiResponse<BalanceLimit> resp = loyaltyBalanceProgramsPidActiveBalanceGetWithHttpInfo(pid, contactId, balanceDefinitionId, limit, offset, sortField, sort, includeInternal);
        return resp.getData();
    }

    /**
     * Get Active Balances API
     * Returns Active Balances
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact ID (required)
     * @param balanceDefinitionId Balance Definition ID (required)
     * @param limit Limit (optional)
     * @param offset Offset (optional)
     * @param sortField Sort Field (optional)
     * @param sort Sort Order (optional)
     * @param includeInternal Include Internal (optional)
     * @return ApiResponse&lt;BalanceLimit&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceLimit> loyaltyBalanceProgramsPidActiveBalanceGetWithHttpInfo(UUID pid, Integer contactId, UUID balanceDefinitionId, Integer limit, Integer offset, String sortField, String sort, Boolean includeInternal) throws ApiException {
        Call call = loyaltyBalanceProgramsPidActiveBalanceGetValidateBeforeCall(pid, contactId, balanceDefinitionId, limit, offset, sortField, sort, includeInternal, null, null);
        Type localVarReturnType = new TypeToken<BalanceLimit>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Active Balances API (asynchronously)
     * Returns Active Balances
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact ID (required)
     * @param balanceDefinitionId Balance Definition ID (required)
     * @param limit Limit (optional)
     * @param offset Offset (optional)
     * @param sortField Sort Field (optional)
     * @param sort Sort Order (optional)
     * @param includeInternal Include Internal (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyBalanceProgramsPidActiveBalanceGetAsync(UUID pid, Integer contactId, UUID balanceDefinitionId, Integer limit, Integer offset, String sortField, String sort, Boolean includeInternal, final ApiCallback<BalanceLimit> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyBalanceProgramsPidActiveBalanceGetValidateBeforeCall(pid, contactId, balanceDefinitionId, limit, offset, sortField, sort, includeInternal, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceLimit>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyBalanceProgramsPidBalanceDefinitionsPost
     * @param pid Loyalty Program Id (required)
     * @param body Create Balance Definition Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyBalanceProgramsPidBalanceDefinitionsPostCall(UUID pid, CreateBalanceDefinitionPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/balance/programs/{pid}/balance-definitions"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyBalanceProgramsPidBalanceDefinitionsPostValidateBeforeCall(UUID pid, CreateBalanceDefinitionPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyBalanceProgramsPidBalanceDefinitionsPost(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling loyaltyBalanceProgramsPidBalanceDefinitionsPost(Async)");
        }
        

        Call call = loyaltyBalanceProgramsPidBalanceDefinitionsPostCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create balance definition
     * Creates balance definition and returns information
     * @param pid Loyalty Program Id (required)
     * @param body Create Balance Definition Payload (required)
     * @return BalanceDefinition
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BalanceDefinition loyaltyBalanceProgramsPidBalanceDefinitionsPost(UUID pid, CreateBalanceDefinitionPayload body) throws ApiException {
        ApiResponse<BalanceDefinition> resp = loyaltyBalanceProgramsPidBalanceDefinitionsPostWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Create balance definition
     * Creates balance definition and returns information
     * @param pid Loyalty Program Id (required)
     * @param body Create Balance Definition Payload (required)
     * @return ApiResponse&lt;BalanceDefinition&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BalanceDefinition> loyaltyBalanceProgramsPidBalanceDefinitionsPostWithHttpInfo(UUID pid, CreateBalanceDefinitionPayload body) throws ApiException {
        Call call = loyaltyBalanceProgramsPidBalanceDefinitionsPostValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<BalanceDefinition>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create balance definition (asynchronously)
     * Creates balance definition and returns information
     * @param pid Loyalty Program Id (required)
     * @param body Create Balance Definition Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyBalanceProgramsPidBalanceDefinitionsPostAsync(UUID pid, CreateBalanceDefinitionPayload body, final ApiCallback<BalanceDefinition> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyBalanceProgramsPidBalanceDefinitionsPostValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BalanceDefinition>(){}.getType();
[...]
