/*
 * Brevo API
 * Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :   - Manage your campaigns and get the statistics   - Manage your contacts   - Send transactional Emails and SMS   - and much more...  You can download our wrappers at https://github.com/orgs/brevo  **Possible responses**   | Code | Message |   | :-------------: | ------------- |   | 200  | OK. Successful Request  |   | 201  | OK. Successful Creation |   | 202  | OK. Request accepted |   | 204  | OK. Successful Update/Deletion  |   | 400  | Error. Bad Request  |   | 401  | Error. Authentication Needed  |   | 402  | Error. Not enough credit, plan upgrade needed  |   | 403  | Error. Permission denied  |   | 404  | Error. Object does not exist |   | 405  | Error. Method not allowed  |   | 406  | Error. Not Acceptable  |   | 422  | Error. Unprocessable Entity | 
 *
 * OpenAPI spec version: 3.0.0
 * Contact: contact@brevo.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package brevoApi;

import brevo.ApiCallback;
import brevo.ApiClient;
import brevo.ApiException;
import brevo.ApiResponse;
import brevo.Configuration;
import brevo.Pair;
import brevo.ProgressRequestBody;
import brevo.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;
import brevoModel.ContactIdentifiers;
import brevoModel.CreateCategoryModel;
import brevoModel.CreateProductModel;
import brevoModel.CreateUpdateBatchCategory;
import brevoModel.CreateUpdateBatchCategoryModel;
import brevoModel.CreateUpdateBatchProducts;
import brevoModel.CreateUpdateBatchProductsModel;
import brevoModel.CreateUpdateCategory;
import brevoModel.CreateUpdateProduct;
import brevoModel.ErrorModel;
import brevoModel.ErrorModelWithStatus;
import brevoModel.GetCategories;
import brevoModel.GetCategoryDetails;
import brevoModel.GetOrders;
import brevoModel.GetProductDetails;
import brevoModel.GetProducts;
import brevoModel.InlineResponse2005;
import brevoModel.InlineResponse2006;
import brevoModel.InlineResponse2007;
import brevoModel.InlineResponse2008;
import brevoModel.InlineResponse2009;
import okhttp3.*;
import org.threeten.bp.OffsetDateTime;
import brevoModel.Order;
import brevoModel.OrderBatch;
import brevoModel.SetConfigDisplayCurrency;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EcommerceApi {
    private ApiClient apiClient;

    public EcommerceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EcommerceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createBatchOrder
     * @param orderBatch  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createBatchOrderCall(OrderBatch orderBatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = orderBatch;

        // create path and map variables
        String localVarPath = "/orders/status/batch";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createBatchOrderValidateBeforeCall(OrderBatch orderBatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderBatch' is set
        if (orderBatch == null) {
            throw new ApiException("Missing the required parameter 'orderBatch' when calling createBatchOrder(Async)");
        }
        

        Call call = createBatchOrderCall(orderBatch, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create orders in batch
     * Create multiple orders at one time instead of one order at a time
     * @param orderBatch  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createBatchOrder(OrderBatch orderBatch) throws ApiException {
        createBatchOrderWithHttpInfo(orderBatch);
    }

    /**
     * Create orders in batch
     * Create multiple orders at one time instead of one order at a time
     * @param orderBatch  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createBatchOrderWithHttpInfo(OrderBatch orderBatch) throws ApiException {
        Call call = createBatchOrderValidateBeforeCall(orderBatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create orders in batch (asynchronously)
     * Create multiple orders at one time instead of one order at a time
     * @param orderBatch  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createBatchOrderAsync(OrderBatch orderBatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createBatchOrderValidateBeforeCall(orderBatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createOrder
     * @param order  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createOrderCall(Order order, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = order;

        // create path and map variables
        String localVarPath = "/orders/status";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createOrderValidateBeforeCall(Order order, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'order' is set
        if (order == null) {
            throw new ApiException("Missing the required parameter 'order' when calling createOrder(Async)");
        }
        

        Call call = createOrderCall(order, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Managing the status of the order
     * Manages the transactional status of the order
     * @param order  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createOrder(Order order) throws ApiException {
        createOrderWithHttpInfo(order);
    }

    /**
     * Managing the status of the order
     * Manages the transactional status of the order
     * @param order  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createOrderWithHttpInfo(Order order) throws ApiException {
        Call call = createOrderValidateBeforeCall(order, null, null);
        return apiClient.execute(call);
    }

    /**
     * Managing the status of the order (asynchronously)
     * Manages the transactional status of the order
     * @param order  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createOrderAsync(Order order, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createOrderValidateBeforeCall(order, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createProductAlert
     * @param id Product ID (required)
     * @param type Alert type (required)
     * @param contactIdentifiers Contact identifier to associate the alert with (at least one is required). Priority is given to &#x60;ext_id&#x60; &gt; &#x60;email&#x60; &gt; &#x60;sms&#x60; (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createProductAlertCall(String id, String type, ContactIdentifiers contactIdentifiers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = contactIdentifiers;

        // create path and map variables
        String localVarPath = "/products/{id}/alerts/{type}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()))
            .replaceAll("\\{" + "type" + "\\}", apiClient.escapeString(type.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createProductAlertValidateBeforeCall(String id, String type, ContactIdentifiers contactIdentifiers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling createProductAlert(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling createProductAlert(Async)");
        }
        
        // verify the required parameter 'contactIdentifiers' is set
        if (contactIdentifiers == null) {
            throw new ApiException("Missing the required parameter 'contactIdentifiers' when calling createProductAlert(Async)");
        }
        

        Call call = createProductAlertCall(id, type, contactIdentifiers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a product alert for a contact
     * 
     * @param id Product ID (required)
     * @param type Alert type (required)
     * @param contactIdentifiers Contact identifier to associate the alert with (at least one is required). Priority is given to &#x60;ext_id&#x60; &gt; &#x60;email&#x60; &gt; &#x60;sms&#x60; (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createProductAlert(String id, String type, ContactIdentifiers contactIdentifiers) throws ApiException {
        createProductAlertWithHttpInfo(id, type, contactIdentifiers);
    }

    /**
     * Create a product alert for a contact
     * 
     * @param id Product ID (required)
     * @param type Alert type (required)
     * @param contactIdentifiers Contact identifier to associate the alert with (at least one is required). Priority is given to &#x60;ext_id&#x60; &gt; &#x60;email&#x60; &gt; &#x60;sms&#x60; (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createProductAlertWithHttpInfo(String id, String type, ContactIdentifiers contactIdentifiers) throws ApiException {
        Call call = createProductAlertValidateBeforeCall(id, type, contactIdentifiers, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create a product alert for a contact (asynchronously)
     * 
     * @param id Product ID (required)
     * @param type Alert type (required)
     * @param contactIdentifiers Contact identifier to associate the alert with (at least one is required). Priority is given to &#x60;ext_id&#x60; &gt; &#x60;email&#x60; &gt; &#x60;sms&#x60; (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createProductAlertAsync(String id, String type, ContactIdentifiers contactIdentifiers, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createProductAlertValidateBeforeCall(id, type, contactIdentifiers, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createUpdateBatchCategory
     * @param createUpdateBatchCategory Values to create a batch of categories (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createUpdateBatchCategoryCall(CreateUpdateBatchCategory createUpdateBatchCategory, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createUpdateBatchCategory;

        // create path and map variables
        String localVarPath = "/categories/batch";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createUpdateBatchCategoryValidateBeforeCall(CreateUpdateBatchCategory createUpdateBatchCategory, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createUpdateBatchCategory' is set
        if (createUpdateBatchCategory == null) {
            throw new ApiException("Missing the required parameter 'createUpdateBatchCategory' when calling createUpdateBatchCategory(Async)");
        }
        

        Call call = createUpdateBatchCategoryCall(createUpdateBatchCategory, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create categories in batch
     * 
     * @param createUpdateBatchCategory Values to create a batch of categories (required)
     * @return CreateUpdateBatchCategoryModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateUpdateBatchCategoryModel createUpdateBatchCategory(CreateUpdateBatchCategory createUpdateBatchCategory) throws ApiException {
        ApiResponse<CreateUpdateBatchCategoryModel> resp = createUpdateBatchCategoryWithHttpInfo(createUpdateBatchCategory);
        return resp.getData();
    }

    /**
     * Create categories in batch
     * 
     * @param createUpdateBatchCategory Values to create a batch of categories (required)
     * @return ApiResponse&lt;CreateUpdateBatchCategoryModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateUpdateBatchCategoryModel> createUpdateBatchCategoryWithHttpInfo(CreateUpdateBatchCategory createUpdateBatchCategory) throws ApiException {
        Call call = createUpdateBatchCategoryValidateBeforeCall(createUpdateBatchCategory, null, null);
        Type localVarReturnType = new TypeToken<CreateUpdateBatchCategoryModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create categories in batch (asynchronously)
     * 
     * @param createUpdateBatchCategory Values to create a batch of categories (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createUpdateBatchCategoryAsync(CreateUpdateBatchCategory createUpdateBatchCategory, final ApiCallback<CreateUpdateBatchCategoryModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createUpdateBatchCategoryValidateBeforeCall(createUpdateBatchCategory, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateUpdateBatchCategoryModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createUpdateBatchProducts
     * @param createUpdateBatchProducts Values to create a batch of products (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createUpdateBatchProductsCall(CreateUpdateBatchProducts createUpdateBatchProducts, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createUpdateBatchProducts;

        // create path and map variables
        String localVarPath = "/products/batch";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createUpdateBatchProductsValidateBeforeCall(CreateUpdateBatchProducts createUpdateBatchProducts, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createUpdateBatchProducts' is set
        if (createUpdateBatchProducts == null) {
            throw new ApiException("Missing the required parameter 'createUpdateBatchProducts' when calling createUpdateBatchProducts(Async)");
        }
        

        Call call = createUpdateBatchProductsCall(createUpdateBatchProducts, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create products in batch
     * 
     * @param createUpdateBatchProducts Values to create a batch of products (required)
     * @return CreateUpdateBatchProductsModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateUpdateBatchProductsModel createUpdateBatchProducts(CreateUpdateBatchProducts createUpdateBatchProducts) throws ApiException {
        ApiResponse<CreateUpdateBatchProductsModel> resp = createUpdateBatchProductsWithHttpInfo(createUpdateBatchProducts);
        return resp.getData();
    }

    /**
     * Create products in batch
     * 
     * @param createUpdateBatchProducts Values to create a batch of products (required)
     * @return ApiResponse&lt;CreateUpdateBatchProductsModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateUpdateBatchProductsModel> createUpdateBatchProductsWithHttpInfo(CreateUpdateBatchProducts createUpdateBatchProducts) throws ApiException {
        Call call = createUpdateBatchProductsValidateBeforeCall(createUpdateBatchProducts, null, null);
        Type localVarReturnType = new TypeToken<CreateUpdateBatchProductsModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create products in batch (asynchronously)
     * 
     * @param createUpdateBatchProducts Values to create a batch of products (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createUpdateBatchProductsAsync(CreateUpdateBatchProducts createUpdateBatchProducts, final ApiCallback<CreateUpdateBatchProductsModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createUpdateBatchProductsValidateBeforeCall(createUpdateBatchProducts, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateUpdateBatchProductsModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createUpdateCategory
     * @param createUpdateCategory Values to create/update a category (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createUpdateCategoryCall(CreateUpdateCategory createUpdateCategory, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createUpdateCategory;

        // create path and map variables
        String localVarPath = "/categories";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createUpdateCategoryValidateBeforeCall(CreateUpdateCategory createUpdateCategory, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createUpdateCategory' is set
        if (createUpdateCategory == null) {
            throw new ApiException("Missing the required parameter 'createUpdateCategory' when calling createUpdateCategory(Async)");
        }
        

        Call call = createUpdateCategoryCall(createUpdateCategory, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create/Update a category
     * 
     * @param createUpdateCategory Values to create/update a category (required)
     * @return CreateCategoryModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateCategoryModel createUpdateCategory(CreateUpdateCategory createUpdateCategory) throws ApiException {
        ApiResponse<CreateCategoryModel> resp = createUpdateCategoryWithHttpInfo(createUpdateCategory);
        return resp.getData();
    }

    /**
     * Create/Update a category
     * 
     * @param createUpdateCategory Values to create/update a category (required)
     * @return ApiResponse&lt;CreateCategoryModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateCategoryModel> createUpdateCategoryWithHttpInfo(CreateUpdateCategory createUpdateCategory) throws ApiException {
        Call call = createUpdateCategoryValidateBeforeCall(createUpdateCategory, null, null);
        Type localVarReturnType = new TypeToken<CreateCategoryModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create/Update a category (asynchronously)
     * 
     * @param createUpdateCategory Values to create/update a category (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createUpdateCategoryAsync(CreateUpdateCategory createUpdateCategory, final ApiCallback<CreateCategoryModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createUpdateCategoryValidateBeforeCall(createUpdateCategory, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateCategoryModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createUpdateProduct
     * @param createUpdateProduct Values to create/update a product (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createUpdateProductCall(CreateUpdateProduct createUpdateProduct, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createUpdateProduct;

        // create path and map variables
        String localVarPath = "/products";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createUpdateProductValidateBeforeCall(CreateUpdateProduct createUpdateProduct, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createUpdateProduct' is set
        if (createUpdateProduct == null) {
            throw new ApiException("Missing the required parameter 'createUpdateProduct' when calling createUpdateProduct(Async)");
        }
        

        Call call = createUpdateProductCall(createUpdateProduct, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create/Update a product
     * 
     * @param createUpdateProduct Values to create/update a product (required)
     * @return CreateProductModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateProductModel createUpdateProduct(CreateUpdateProduct createUpdateProduct) throws ApiException {
        ApiResponse<CreateProductModel> resp = createUpdateProductWithHttpInfo(createUpdateProduct);
        return resp.getData();
    }

    /**
     * Create/Update a product
     * 
     * @param createUpdateProduct Values to create/update a product (required)
     * @return ApiResponse&lt;CreateProductModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateProductModel> createUpdateProductWithHttpInfo(CreateUpdateProduct createUpdateProduct) throws ApiException {
        Call call = createUpdateProductValidateBeforeCall(createUpdateProduct, null, null);
        Type localVarReturnType = new TypeToken<CreateProductModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create/Update a product (asynchronously)
     * 
     * @param createUpdateProduct Values to create/update a product (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createUpdateProductAsync(CreateUpdateProduct createUpdateProduct, final ApiCallback<CreateProductModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createUpdateProductValidateBeforeCall(createUpdateProduct, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateProductModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ecommerceActivatePost
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call ecommerceActivatePostCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/ecommerce/activate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call ecommerceActivatePostValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        Call call = ecommerceActivatePostCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Activate the eCommerce app
     * Getting access to Brevo eCommerce.
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void ecommerceActivatePost() throws ApiException {
        ecommerceActivatePostWithHttpInfo();
    }

    /**
     * Activate the eCommerce app
     * Getting access to Brevo eCommerce.
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> ecommerceActivatePostWithHttpInfo() throws ApiException {
        Call call = ecommerceActivatePostValidateBeforeCall(null, null);
        return apiClient.execute(call);
    }

    /**
     * Activate the eCommerce app (asynchronously)
     * Getting access to Brevo eCommerce.
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call ecommerceActivatePostAsync(final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = ecommerceActivatePostValidateBeforeCall(progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for ecommerceAttributionMetricsConversionSourceConversionSourceIdGet
     * @param conversionSource The Brevo campaign type or workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call ecommerceAttributionMetricsConversionSourceConversionSourceIdGetCall(String conversionSource, String conversionSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/ecommerce/attribution/metrics/{conversionSource}/{conversionSourceId}"
            .replaceAll("\\{" + "conversionSource" + "\\}", apiClient.escapeString(conversionSource.toString()))
            .replaceAll("\\{" + "conversionSourceId" + "\\}", apiClient.escapeString(conversionSourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call ecommerceAttributionMetricsConversionSourceConversionSourceIdGetValidateBeforeCall(String conversionSource, String conversionSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'conversionSource' is set
        if (conversionSource == null) {
            throw new ApiException("Missing the required parameter 'conversionSource' when calling ecommerceAttributionMetricsConversionSourceConversionSourceIdGet(Async)");
        }
        
        // verify the required parameter 'conversionSourceId' is set
        if (conversionSourceId == null) {
            throw new ApiException("Missing the required parameter 'conversionSourceId' when calling ecommerceAttributionMetricsConversionSourceConversionSourceIdGet(Async)");
        }
        

        Call call = ecommerceAttributionMetricsConversionSourceConversionSourceIdGetCall(conversionSource, conversionSourceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get detailed attribution metrics for a single Brevo campaign or workflow
     * 
     * @param conversionSource The Brevo campaign type or workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @return InlineResponse2008
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2008 ecommerceAttributionMetricsConversionSourceConversionSourceIdGet(String conversionSource, String conversionSourceId) throws ApiException {
        ApiResponse<InlineResponse2008> resp = ecommerceAttributionMetricsConversionSourceConversionSourceIdGetWithHttpInfo(conversionSource, conversionSourceId);
        return resp.getData();
    }

    /**
     * Get detailed attribution metrics for a single Brevo campaign or workflow
     * 
     * @param conversionSource The Brevo campaign type or workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @return ApiResponse&lt;InlineResponse2008&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2008> ecommerceAttributionMetricsConversionSourceConversionSourceIdGetWithHttpInfo(String conversionSource, String conversionSourceId) throws ApiException {
        Call call = ecommerceAttributionMetricsConversionSourceConversionSourceIdGetValidateBeforeCall(conversionSource, conversionSourceId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2008>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get detailed attribution metrics for a single Brevo campaign or workflow (asynchronously)
     * 
     * @param conversionSource The Brevo campaign type or workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call ecommerceAttributionMetricsConversionSourceConversionSourceIdGetAsync(String conversionSource, String conversionSourceId, final ApiCallback<InlineResponse2008> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = ecommerceAttributionMetricsConversionSourceConversionSourceIdGetValidateBeforeCall(conversionSource, conversionSourceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2008>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ecommerceAttributionMetricsGet
     * @param periodFrom When getting metrics for a specific period, define the starting datetime in RFC3339 format (optional)
     * @param periodTo When getting metrics for a specific period, define the end datetime in RFC3339 format (optional)
     * @param emailCampaignId The email campaign ID(s) to get metrics for (optional)
     * @param smsCampaignId The SMS campaign ID(s) to get metrics for (optional)
     * @param automationWorkflowEmailId The automation workflow ID(s) to get email attribution metrics for (optional)
     * @param automationWorkflowSmsId The automation workflow ID(s) to get SMS attribution metrics for (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call ecommerceAttributionMetricsGetCall(OffsetDateTime periodFrom, OffsetDateTime periodTo, List<String> emailCampaignId, List<String> smsCampaignId, List<String> automationWorkflowEmailId, List<String> automationWorkflowSmsId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/ecommerce/attribution/metrics";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (periodFrom != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("periodFrom", periodFrom));
        if (periodTo != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("periodTo", periodTo));
        if (emailCampaignId != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "emailCampaignId[]", emailCampaignId));
        if (smsCampaignId != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "smsCampaignId[]", smsCampaignId));
        if (automationWorkflowEmailId != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "automationWorkflowEmailId[]", automationWorkflowEmailId));
        if (automationWorkflowSmsId != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "automationWorkflowSmsId[]", automationWorkflowSmsId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call ecommerceAttributionMetricsGetValidateBeforeCall(OffsetDateTime periodFrom, OffsetDateTime periodTo, List<String> emailCampaignId, List<String> smsCampaignId, List<String> automationWorkflowEmailId, List<String> automationWorkflowSmsId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        Call call = ecommerceAttributionMetricsGetCall(periodFrom, periodTo, emailCampaignId, smsCampaignId, automationWorkflowEmailId, automationWorkflowSmsId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get attribution metrics for one or more Brevo campaigns or workflows
     * 
     * @param periodFrom When getting metrics for a specific period, define the starting datetime in RFC3339 format (optional)
     * @param periodTo When getting metrics for a specific period, define the end datetime in RFC3339 format (optional)
     * @param emailCampaignId The email campaign ID(s) to get metrics for (optional)
     * @param smsCampaignId The SMS campaign ID(s) to get metrics for (optional)
     * @param automationWorkflowEmailId The automation workflow ID(s) to get email attribution metrics for (optional)
     * @param automationWorkflowSmsId The automation workflow ID(s) to get SMS attribution metrics for (optional)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2007 ecommerceAttributionMetricsGet(OffsetDateTime periodFrom, OffsetDateTime periodTo, List<String> emailCampaignId, List<String> smsCampaignId, List<String> automationWorkflowEmailId, List<String> automationWorkflowSmsId) throws ApiException {
        ApiResponse<InlineResponse2007> resp = ecommerceAttributionMetricsGetWithHttpInfo(periodFrom, periodTo, emailCampaignId, smsCampaignId, automationWorkflowEmailId, automationWorkflowSmsId);
        return resp.getData();
    }

    /**
     * Get attribution metrics for one or more Brevo campaigns or workflows
     * 
     * @param periodFrom When getting metrics for a specific period, define the starting datetime in RFC3339 format (optional)
     * @param periodTo When getting metrics for a specific period, define the end datetime in RFC3339 format (optional)
     * @param emailCampaignId The email campaign ID(s) to get metrics for (optional)
     * @param smsCampaignId The SMS campaign ID(s) to get metrics for (optional)
     * @param automationWorkflowEmailId The automation workflow ID(s) to get email attribution metrics for (optional)
     * @param automationWorkflowSmsId The automation workflow ID(s) to get SMS attribution metrics for (optional)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2007> ecommerceAttributionMetricsGetWithHttpInfo(OffsetDateTime periodFrom, OffsetDateTime periodTo, List<String> emailCampaignId, List<String> smsCampaignId, List<String> automationWorkflowEmailId, List<String> automationWorkflowSmsId) throws ApiException {
        Call call = ecommerceAttributionMetricsGetValidateBeforeCall(periodFrom, periodTo, emailCampaignId, smsCampaignId, automationWorkflowEmailId, automationWorkflowSmsId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get attribution metrics for one or more Brevo campaigns or workflows (asynchronously)
     * 
     * @param periodFrom When getting metrics for a specific period, define the starting datetime in RFC3339 format (optional)
     * @param periodTo When getting metrics for a specific period, define the end datetime in RFC3339 format (optional)
     * @param emailCampaignId The email campaign ID(s) to get metrics for (optional)
     * @param smsCampaignId The SMS campaign ID(s) to get metrics for (optional)
     * @param automationWorkflowEmailId The automation workflow ID(s) to get email attribution metrics for (optional)
     * @param automationWorkflowSmsId The automation workflow ID(s) to get SMS attribution metrics for (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call ecommerceAttributionMetricsGetAsync(OffsetDateTime periodFrom, OffsetDateTime periodTo, List<String> emailCampaignId, List<String> smsCampaignId, List<String> automationWorkflowEmailId, List<String> automationWorkflowSmsId, final ApiCallback<InlineResponse2007> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = ecommerceAttributionMetricsGetValidateBeforeCall(periodFrom, periodTo, emailCampaignId, smsCampaignId, automationWorkflowEmailId, automationWorkflowSmsId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ecommerceAttributionProductsConversionSourceConversionSourceIdGet
     * @param conversionSource The Brevo campaign or automation workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call ecommerceAttributionProductsConversionSourceConversionSourceIdGetCall(String conversionSource, String conversionSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/ecommerce/attribution/products/{conversionSource}/{conversionSourceId}"
            .replaceAll("\\{" + "conversionSource" + "\\}", apiClient.escapeString(conversionSource.toString()))
            .replaceAll("\\{" + "conversionSourceId" + "\\}", apiClient.escapeString(conversionSourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call ecommerceAttributionProductsConversionSourceConversionSourceIdGetValidateBeforeCall(String conversionSource, String conversionSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'conversionSource' is set
        if (conversionSource == null) {
            throw new ApiException("Missing the required parameter 'conversionSource' when calling ecommerceAttributionProductsConversionSourceConversionSourceIdGet(Async)");
        }
        
        // verify the required parameter 'conversionSourceId' is set
        if (conversionSourceId == null) {
            throw new ApiException("Missing the required parameter 'conversionSourceId' when calling ecommerceAttributionProductsConversionSourceConversionSourceIdGet(Async)");
        }
        

        Call call = ecommerceAttributionProductsConversionSourceConversionSourceIdGetCall(conversionSource, conversionSourceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get attributed product sales for a single Brevo campaign or workflow
     * 
     * @param conversionSource The Brevo campaign or automation workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @return InlineResponse2009
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2009 ecommerceAttributionProductsConversionSourceConversionSourceIdGet(String conversionSource, String conversionSourceId) throws ApiException {
        ApiResponse<InlineResponse2009> resp = ecommerceAttributionProductsConversionSourceConversionSourceIdGetWithHttpInfo(conversionSource, conversionSourceId);
        return resp.getData();
    }

    /**
     * Get attributed product sales for a single Brevo campaign or workflow
     * 
     * @param conversionSource The Brevo campaign or automation workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @return ApiResponse&lt;InlineResponse2009&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2009> ecommerceAttributionProductsConversionSourceConversionSourceIdGetWithHttpInfo(String conversionSource, String conversionSourceId) throws ApiException {
        Call call = ecommerceAttributionProductsConversionSourceConversionSourceIdGetValidateBeforeCall(conversionSource, conversionSourceId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2009>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get attributed product sales for a single Brevo campaign or workflow (asynchronously)
     * 
     * @param conversionSource The Brevo campaign or automation workflow type for which data will be retrieved (required)
     * @param conversionSourceId The Brevo campaign or automation workflow id for which data will be retrieved (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call ecommerceAttributionProductsConversionSourceConversionSourceIdGetAsync(String conversionSource, String conversionSourceId, final ApiCallback<InlineResponse2009> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = ecommerceAttributionProductsConversionSourceConversionSourceIdGetValidateBeforeCall(conversionSource, conversionSourceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2009>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ecommerceConfigDisplayCurrencyGet
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call ecommerceConfigDisplayCurrencyGetCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/ecommerce/config/displayCurrency";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call ecommerceConfigDisplayCurrencyGetValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        Call call = ecommerceConfigDisplayCurrencyGetCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get the ISO 4217 compliant display currency code for your Brevo account
     * 
     * @return InlineResponse2006
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2006 ecommerceConfigDisplayCurrencyGet() throws ApiException {
        ApiResponse<InlineResponse2006> resp = ecommerceConfigDisplayCurrencyGetWithHttpInfo();
        return resp.getData();
    }

    /**
     * Get the ISO 4217 compliant display currency code for your Brevo account
     * 
     * @return ApiResponse&lt;InlineResponse2006&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2006> ecommerceConfigDisplayCurrencyGetWithHttpInfo() throws ApiException {
        Call call = ecommerceConfigDisplayCurrencyGetValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2006>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the ISO 4217 compliant display currency code for your Brevo account (asynchronously)
     * 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call ecommerceConfigDisplayCurrencyGetAsync(final ApiCallback<InlineResponse2006> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = ecommerceConfigDisplayCurrencyGetValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2006>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCategories
     * @param limit Number of documents per page (optional, default to 50)
     * @param offset Index of the first document in the page (optional, default to 0)
     * @param sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (optional, default to desc)
     * @param ids Filter by category ids (optional)
     * @param name Filter by category name (optional)
     * @param modifiedSince Filter (urlencoded) the categories modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param createdSince Filter (urlencoded) the categories created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param isDeleted Filter categories by their deletion status. If &#x60;false&#x60; is passed, only categories that are not deleted will be returned.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getCategoriesCall(Long limit, Long offset, String sort, List<String> ids, String name, String modifiedSince, String createdSince, Object isDeleted, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/categories";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
        if (ids != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "ids", ids));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (modifiedSince != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modifiedSince", modifiedSince));
        if (createdSince != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("createdSince", createdSince));
        if (isDeleted != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("isDeleted", isDeleted));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getCategoriesValidateBeforeCall(Long limit, Long offset, String sort, List<String> ids, String name, String modifiedSince, String createdSince, Object isDeleted, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        Call call = getCategoriesCall(limit, offset, sort, ids, name, modifiedSince, createdSince, isDeleted, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Return all your categories
     * 
     * @param limit Number of documents per page (optional, default to 50)
     * @param offset Index of the first document in the page (optional, default to 0)
     * @param sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (optional, default to desc)
     * @param ids Filter by category ids (optional)
     * @param name Filter by category name (optional)
     * @param modifiedSince Filter (urlencoded) the categories modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param createdSince Filter (urlencoded) the categories created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param isDeleted Filter categories by their deletion status. If &#x60;false&#x60; is passed, only categories that are not deleted will be returned.  (optional)
     * @return GetCategories
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetCategories getCategories(Long limit, Long offset, String sort, List<String> ids, String name, String modifiedSince, String createdSince, Object isDeleted) throws ApiException {
        ApiResponse<GetCategories> resp = getCategoriesWithHttpInfo(limit, offset, sort, ids, name, modifiedSince, createdSince, isDeleted);
        return resp.getData();
    }

    /**
     * Return all your categories
     * 
     * @param limit Number of documents per page (optional, default to 50)
     * @param offset Index of the first document in the page (optional, default to 0)
     * @param sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (optional, default to desc)
     * @param ids Filter by category ids (optional)
     * @param name Filter by category name (optional)
     * @param modifiedSince Filter (urlencoded) the categories modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param createdSince Filter (urlencoded) the categories created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param isDeleted Filter categories by their deletion status. If &#x60;false&#x60; is passed, only categories that are not deleted will be returned.  (optional)
     * @return ApiResponse&lt;GetCategories&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetCategories> getCategoriesWithHttpInfo(Long limit, Long offset, String sort, List<String> ids, String name, String modifiedSince, String createdSince, Object isDeleted) throws ApiException {
        Call call = getCategoriesValidateBeforeCall(limit, offset, sort, ids, name, modifiedSince, createdSince, isDeleted, null, null);
        Type localVarReturnType = new TypeToken<GetCategories>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Return all your categories (asynchronously)
     * 
     * @param limit Number of documents per page (optional, default to 50)
     * @param offset Index of the first document in the page (optional, default to 0)
     * @param sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (optional, default to desc)
     * @param ids Filter by category ids (optional)
     * @param name Filter by category name (optional)
     * @param modifiedSince Filter (urlencoded) the categories modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param createdSince Filter (urlencoded) the categories created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param isDeleted Filter categories by their deletion status. If &#x60;false&#x60; is passed, only categories that are not deleted will be returned.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getCategoriesAsync(Long limit, Long offset, String sort, List<String> ids, String name, String modifiedSince, String createdSince, Object isDeleted, final ApiCallback<GetCategories> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getCategoriesValidateBeforeCall(limit, offset, sort, ids, name, modifiedSince, createdSince, isDeleted, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetCategories>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCategoryInfo
     * @param id Category ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getCategoryInfoCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/categories/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getCategoryInfoValidateBeforeCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getCategoryInfo(Async)");
        }
        

        Call call = getCategoryInfoCall(id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a category details
     * 
     * @param id Category ID (required)
     * @return GetCategoryDetails
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetCategoryDetails getCategoryInfo(String id) throws ApiException {
        ApiResponse<GetCategoryDetails> resp = getCategoryInfoWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Get a category details
     * 
     * @param id Category ID (required)
     * @return ApiResponse&lt;GetCategoryDetails&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetCategoryDetails> getCategoryInfoWithHttpInfo(String id) throws ApiException {
        Call call = getCategoryInfoValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<GetCategoryDetails>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a category details (asynchronously)
     * 
     * @param id Category ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getCategoryInfoAsync(String id, final ApiCallback<GetCategoryDetails> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getCategoryInfoValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetCategoryDetails>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getOrders
     * @param limit Number of documents per page (optional, default to 50)
     * @param offset Index of the first document in the page (optional, default to 0)
     * @param sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (optional, default to desc)
     * @param modifiedSince Filter (urlencoded) the orders modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param createdSince Filter (urlencoded) the orders created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getOrdersCall(Long limit, Long offset, String sort, String modifiedSince, String createdSince, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
[...]
