/*
 * Brevo API
 * Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :   - Manage your campaigns and get the statistics   - Manage your contacts   - Send transactional Emails and SMS   - and much more...  You can download our wrappers at https://github.com/orgs/brevo  **Possible responses**   | Code | Message |   | :-------------: | ------------- |   | 200  | OK. Successful Request  |   | 201  | OK. Successful Creation |   | 202  | OK. Request accepted |   | 204  | OK. Successful Update/Deletion  |   | 400  | Error. Bad Request  |   | 401  | Error. Authentication Needed  |   | 402  | Error. Not enough credit, plan upgrade needed  |   | 403  | Error. Permission denied  |   | 404  | Error. Object does not exist |   | 405  | Error. Method not allowed  |   | 406  | Error. Not Acceptable  |   | 422  | Error. Unprocessable Entity | 
 *
 * OpenAPI spec version: 3.0.0
 * Contact: contact@brevo.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package brevoApi;

import brevo.ApiCallback;
import brevo.ApiClient;
import brevo.ApiException;
import brevo.ApiResponse;
import brevo.Configuration;
import brevo.Pair;
import brevo.ProgressRequestBody;
import brevo.ProgressResponseBody;

import brevoModel.*;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.util.UUID;

import okhttp3.*;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProgramApi {
    private ApiClient apiClient;

    public ProgramApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProgramApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createNewLP
     * @param body Create Loyalty Program Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call createNewLPCall(CreateLoyaltyProgramPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call createNewLPValidateBeforeCall(CreateLoyaltyProgramPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createNewLP(Async)");
        }
        

        Call call = createNewLPCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create loyalty program
     * Creates loyalty program
     * @param body Create Loyalty Program Payload (required)
     * @return LoyaltyProgram
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public LoyaltyProgram createNewLP(CreateLoyaltyProgramPayload body) throws ApiException {
        ApiResponse<LoyaltyProgram> resp = createNewLPWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create loyalty program
     * Creates loyalty program
     * @param body Create Loyalty Program Payload (required)
     * @return ApiResponse&lt;LoyaltyProgram&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<LoyaltyProgram> createNewLPWithHttpInfo(CreateLoyaltyProgramPayload body) throws ApiException {
        Call call = createNewLPValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create loyalty program (asynchronously)
     * Creates loyalty program
     * @param body Create Loyalty Program Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call createNewLPAsync(CreateLoyaltyProgramPayload body, final ApiCallback<LoyaltyProgram> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = createNewLPValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteContactMembers
     * @param pid Loyalty Program Id (required)
     * @param memberContactIds Member Contact Ids (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call deleteContactMembersCall(UUID pid, String memberContactIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}/subscription-members"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (memberContactIds != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("memberContactIds", memberContactIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call deleteContactMembersValidateBeforeCall(UUID pid, String memberContactIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling deleteContactMembers(Async)");
        }
        
        // verify the required parameter 'memberContactIds' is set
        if (memberContactIds == null) {
            throw new ApiException("Missing the required parameter 'memberContactIds' when calling deleteContactMembers(Async)");
        }
        

        Call call = deleteContactMembersCall(pid, memberContactIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete subscription member
     * Deletes member from a subscription
     * @param pid Loyalty Program Id (required)
     * @param memberContactIds Member Contact Ids (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteContactMembers(UUID pid, String memberContactIds) throws ApiException {
        deleteContactMembersWithHttpInfo(pid, memberContactIds);
    }

    /**
     * Delete subscription member
     * Deletes member from a subscription
     * @param pid Loyalty Program Id (required)
     * @param memberContactIds Member Contact Ids (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteContactMembersWithHttpInfo(UUID pid, String memberContactIds) throws ApiException {
        Call call = deleteContactMembersValidateBeforeCall(pid, memberContactIds, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete subscription member (asynchronously)
     * Deletes member from a subscription
     * @param pid Loyalty Program Id (required)
     * @param memberContactIds Member Contact Ids (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call deleteContactMembersAsync(UUID pid, String memberContactIds, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = deleteContactMembersValidateBeforeCall(pid, memberContactIds, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteLoyaltyProgram
     * @param pid Loyalty Program Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call deleteLoyaltyProgramCall(UUID pid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call deleteLoyaltyProgramValidateBeforeCall(UUID pid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling deleteLoyaltyProgram(Async)");
        }
        

        Call call = deleteLoyaltyProgramCall(pid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete Loyalty Program
     * Deletes Loyalty Program
     * @param pid Loyalty Program Id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteLoyaltyProgram(UUID pid) throws ApiException {
        deleteLoyaltyProgramWithHttpInfo(pid);
    }

    /**
     * Delete Loyalty Program
     * Deletes Loyalty Program
     * @param pid Loyalty Program Id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteLoyaltyProgramWithHttpInfo(UUID pid) throws ApiException {
        Call call = deleteLoyaltyProgramValidateBeforeCall(pid, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete Loyalty Program (asynchronously)
     * Deletes Loyalty Program
     * @param pid Loyalty Program Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call deleteLoyaltyProgramAsync(UUID pid, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = deleteLoyaltyProgramValidateBeforeCall(pid, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getLPList
     * @param limit Number of documents per page (optional)
     * @param offset Index of the first document in the page (optional)
     * @param sortField Sort documents by field (optional)
     * @param sort Sort the documents in the ascending or descending order (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getLPListCall(Integer limit, Integer offset, String sortField, String sort, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (sortField != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_field", sortField));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getLPListValidateBeforeCall(Integer limit, Integer offset, String sortField, String sort, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        Call call = getLPListCall(limit, offset, sortField, sort, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get loyalty program list
     * Returns list of loyalty programs
     * @param limit Number of documents per page (optional)
     * @param offset Index of the first document in the page (optional)
     * @param sortField Sort documents by field (optional)
     * @param sort Sort the documents in the ascending or descending order (optional)
     * @return LoyaltyProgramPage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public LoyaltyProgramPage getLPList(Integer limit, Integer offset, String sortField, String sort) throws ApiException {
        ApiResponse<LoyaltyProgramPage> resp = getLPListWithHttpInfo(limit, offset, sortField, sort);
        return resp.getData();
    }

    /**
     * Get loyalty program list
     * Returns list of loyalty programs
     * @param limit Number of documents per page (optional)
     * @param offset Index of the first document in the page (optional)
     * @param sortField Sort documents by field (optional)
     * @param sort Sort the documents in the ascending or descending order (optional)
     * @return ApiResponse&lt;LoyaltyProgramPage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<LoyaltyProgramPage> getLPListWithHttpInfo(Integer limit, Integer offset, String sortField, String sort) throws ApiException {
        Call call = getLPListValidateBeforeCall(limit, offset, sortField, sort, null, null);
        Type localVarReturnType = new TypeToken<LoyaltyProgramPage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get loyalty program list (asynchronously)
     * Returns list of loyalty programs
     * @param limit Number of documents per page (optional)
     * @param offset Index of the first document in the page (optional)
     * @param sortField Sort documents by field (optional)
     * @param sort Sort the documents in the ascending or descending order (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getLPListAsync(Integer limit, Integer offset, String sortField, String sort, final ApiCallback<LoyaltyProgramPage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getLPListValidateBeforeCall(limit, offset, sortField, sort, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<LoyaltyProgramPage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getLoyaltyProgramInfo
     * @param pid Loyalty Program Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getLoyaltyProgramInfoCall(UUID pid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getLoyaltyProgramInfoValidateBeforeCall(UUID pid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getLoyaltyProgramInfo(Async)");
        }
        

        Call call = getLoyaltyProgramInfoCall(pid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get loyalty program Info
     * Returns loyalty program
     * @param pid Loyalty Program Id (required)
     * @return LoyaltyProgram
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public LoyaltyProgram getLoyaltyProgramInfo(UUID pid) throws ApiException {
        ApiResponse<LoyaltyProgram> resp = getLoyaltyProgramInfoWithHttpInfo(pid);
        return resp.getData();
    }

    /**
     * Get loyalty program Info
     * Returns loyalty program
     * @param pid Loyalty Program Id (required)
     * @return ApiResponse&lt;LoyaltyProgram&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<LoyaltyProgram> getLoyaltyProgramInfoWithHttpInfo(UUID pid) throws ApiException {
        Call call = getLoyaltyProgramInfoValidateBeforeCall(pid, null, null);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get loyalty program Info (asynchronously)
     * Returns loyalty program
     * @param pid Loyalty Program Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getLoyaltyProgramInfoAsync(UUID pid, final ApiCallback<LoyaltyProgram> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getLoyaltyProgramInfoValidateBeforeCall(pid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getParameterSubscriptionInfo
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact Id (optional)
     * @param params Filter List (optional)
     * @param loyaltySubscriptionId Loyalty Subscription Id (optional)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getParameterSubscriptionInfoCall(UUID pid, String contactId, String params, String loyaltySubscriptionId, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}/account-info"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (contactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("contactId", contactId));
        if (params != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("params", params));
        if (loyaltySubscriptionId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("loyaltySubscriptionId", loyaltySubscriptionId));
        if (includeInternal != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("includeInternal", includeInternal));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getParameterSubscriptionInfoValidateBeforeCall(UUID pid, String contactId, String params, String loyaltySubscriptionId, Boolean includeInternal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getParameterSubscriptionInfo(Async)");
        }


        Call call = getParameterSubscriptionInfoCall(pid, contactId, params, loyaltySubscriptionId, includeInternal, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Subscription Data
     * Get Information of balances, tiers, rewards and subscription members for a subscription
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact Id (optional)
     * @param params Filter List (optional)
     * @param loyaltySubscriptionId Loyalty Subscription Id (optional)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @return SubscriptionHandlerInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SubscriptionHandlerInfo getParameterSubscriptionInfo(UUID pid, String contactId, String params, String loyaltySubscriptionId, Boolean includeInternal) throws ApiException {
        ApiResponse<SubscriptionHandlerInfo> resp = getParameterSubscriptionInfoWithHttpInfo(pid, contactId, params, loyaltySubscriptionId, includeInternal);
        return resp.getData();
    }

    /**
     * Get Subscription Data
     * Get Information of balances, tiers, rewards and subscription members for a subscription
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact Id (optional)
     * @param params Filter List (optional)
     * @param loyaltySubscriptionId Loyalty Subscription Id (optional)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @return ApiResponse&lt;SubscriptionHandlerInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SubscriptionHandlerInfo> getParameterSubscriptionInfoWithHttpInfo(UUID pid, String contactId, String params, String loyaltySubscriptionId, Boolean includeInternal) throws ApiException {
        Call call = getParameterSubscriptionInfoValidateBeforeCall(pid, contactId, params, loyaltySubscriptionId, includeInternal, null, null);
        Type localVarReturnType = new TypeToken<SubscriptionHandlerInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Subscription Data (asynchronously)
     * Get Information of balances, tiers, rewards and subscription members for a subscription
     * @param pid Loyalty Program Id (required)
     * @param contactId Contact Id (optional)
     * @param params Filter List (optional)
     * @param loyaltySubscriptionId Loyalty Subscription Id (optional)
     * @param includeInternal Include balances tied to internal definitions. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getParameterSubscriptionInfoAsync(UUID pid, String contactId, String params, String loyaltySubscriptionId, Boolean includeInternal, final ApiCallback<SubscriptionHandlerInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getParameterSubscriptionInfoValidateBeforeCall(pid, contactId, params, loyaltySubscriptionId, includeInternal, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SubscriptionHandlerInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyConfigProgramsPidContactCidDelete
     * @param pid Loyalty Program ID. A unique identifier for the loyalty program. (required)
     * @param cid Contact ID. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyConfigProgramsPidContactCidDeleteCall(UUID pid, Integer cid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}/contact/{cid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "cid" + "\\}", apiClient.escapeString(cid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyConfigProgramsPidContactCidDeleteValidateBeforeCall(UUID pid, Integer cid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyConfigProgramsPidContactCidDelete(Async)");
        }

        // verify the required parameter 'cid' is set
        if (cid == null) {
            throw new ApiException("Missing the required parameter 'cid' when calling loyaltyConfigProgramsPidContactCidDelete(Async)");
        }

        Call call = loyaltyConfigProgramsPidContactCidDeleteCall(pid, cid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete subscription
     * Delete subscription for a contact
     * @param pid Loyalty Program ID. A unique identifier for the loyalty program. (required)
     * @param cid Contact ID. (required)
     * @return TransactionHistoryResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TransactionHistoryResp loyaltyConfigProgramsPidContactCidDelete(UUID pid, Integer cid) throws ApiException {
        ApiResponse<TransactionHistoryResp> resp = loyaltyConfigProgramsPidContactCidDeleteWithHttpInfo(pid, cid);
        return resp.getData();
    }

    /**
     * Delete subscription
     * Delete subscription for a contact
     * @param pid Loyalty Program ID. A unique identifier for the loyalty program. (required)
     * @param cid Contact ID. (required)
     * @return ApiResponse&lt;TransactionHistoryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TransactionHistoryResp> loyaltyConfigProgramsPidContactCidDeleteWithHttpInfo(UUID pid, Integer cid) throws ApiException {
        Call call = loyaltyConfigProgramsPidContactCidDeleteValidateBeforeCall(pid, cid, null, null);
        Type localVarReturnType = new TypeToken<TransactionHistoryResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete subscription (asynchronously)
     * Delete subscription for a contact
     * @param pid Loyalty Program ID. A unique identifier for the loyalty program. (required)
     * @param cid Contact ID. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyConfigProgramsPidContactCidDeleteAsync(UUID pid, Integer cid, final ApiCallback<TransactionHistoryResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyConfigProgramsPidContactCidDeleteValidateBeforeCall(pid, cid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TransactionHistoryResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for partiallyUpdateLoyaltyProgram
     * @param pid Loyalty Program Id (required)
     * @param body Loyalty Program Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call partiallyUpdateLoyaltyProgramCall(UUID pid, PatchLoyaltyProgramPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call partiallyUpdateLoyaltyProgramValidateBeforeCall(UUID pid, PatchLoyaltyProgramPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling partiallyUpdateLoyaltyProgram(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling partiallyUpdateLoyaltyProgram(Async)");
        }
        

        Call call = partiallyUpdateLoyaltyProgramCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Partially update loyalty program
     * Partially updates loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Loyalty Program Payload (required)
     * @return LoyaltyProgram
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public LoyaltyProgram partiallyUpdateLoyaltyProgram(UUID pid, PatchLoyaltyProgramPayload body) throws ApiException {
        ApiResponse<LoyaltyProgram> resp = partiallyUpdateLoyaltyProgramWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Partially update loyalty program
     * Partially updates loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Loyalty Program Payload (required)
     * @return ApiResponse&lt;LoyaltyProgram&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<LoyaltyProgram> partiallyUpdateLoyaltyProgramWithHttpInfo(UUID pid, PatchLoyaltyProgramPayload body) throws ApiException {
        Call call = partiallyUpdateLoyaltyProgramValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Partially update loyalty program (asynchronously)
     * Partially updates loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Loyalty Program Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call partiallyUpdateLoyaltyProgramAsync(UUID pid, PatchLoyaltyProgramPayload body, final ApiCallback<LoyaltyProgram> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = partiallyUpdateLoyaltyProgramValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for publishLoyaltyProgram
     * @param pid Loyalty Program Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call publishLoyaltyProgramCall(UUID pid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}/publish"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call publishLoyaltyProgramValidateBeforeCall(UUID pid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling publishLoyaltyProgram(Async)");
        }
        

        Call call = publishLoyaltyProgramCall(pid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Publish loyalty program
     * Publishes loyalty program
     * @param pid Loyalty Program Id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void publishLoyaltyProgram(UUID pid) throws ApiException {
        publishLoyaltyProgramWithHttpInfo(pid);
    }

    /**
     * Publish loyalty program
     * Publishes loyalty program
     * @param pid Loyalty Program Id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> publishLoyaltyProgramWithHttpInfo(UUID pid) throws ApiException {
        Call call = publishLoyaltyProgramValidateBeforeCall(pid, null, null);
        return apiClient.execute(call);
    }

    /**
     * Publish loyalty program (asynchronously)
     * Publishes loyalty program
     * @param pid Loyalty Program Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call publishLoyaltyProgramAsync(UUID pid, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = publishLoyaltyProgramValidateBeforeCall(pid, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for subscribeMemberToASubscription
     * @param pid Loyalty Program Id (required)
     * @param body Add Subscription Member Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call subscribeMemberToASubscriptionCall(UUID pid, AddSubscriptionMemberPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}/subscription-members"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call subscribeMemberToASubscriptionValidateBeforeCall(UUID pid, AddSubscriptionMemberPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling subscribeMemberToASubscription(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling subscribeMemberToASubscription(Async)");
        }
        

        Call call = subscribeMemberToASubscriptionCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create subscription member
     * Add member to a subscription
     * @param pid Loyalty Program Id (required)
     * @param body Add Subscription Member Payload (required)
     * @return SubscriptionMember
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SubscriptionMember subscribeMemberToASubscription(UUID pid, AddSubscriptionMemberPayload body) throws ApiException {
        ApiResponse<SubscriptionMember> resp = subscribeMemberToASubscriptionWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Create subscription member
     * Add member to a subscription
     * @param pid Loyalty Program Id (required)
     * @param body Add Subscription Member Payload (required)
     * @return ApiResponse&lt;SubscriptionMember&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SubscriptionMember> subscribeMemberToASubscriptionWithHttpInfo(UUID pid, AddSubscriptionMemberPayload body) throws ApiException {
        Call call = subscribeMemberToASubscriptionValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<SubscriptionMember>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create subscription member (asynchronously)
     * Add member to a subscription
     * @param pid Loyalty Program Id (required)
     * @param body Add Subscription Member Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call subscribeMemberToASubscriptionAsync(UUID pid, AddSubscriptionMemberPayload body, final ApiCallback<SubscriptionMember> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = subscribeMemberToASubscriptionValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SubscriptionMember>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for subscribeToLoyaltyProgram
     * @param pid Loyalty Program Id (required)
     * @param body Create Subscription Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call subscribeToLoyaltyProgramCall(UUID pid, CreateSubscriptionPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}/subscriptions"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call subscribeToLoyaltyProgramValidateBeforeCall(UUID pid, CreateSubscriptionPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling subscribeToLoyaltyProgram(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling subscribeToLoyaltyProgram(Async)");
        }
        

        Call call = subscribeToLoyaltyProgramCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create subscription
     * Subscribes to a loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Create Subscription Payload (required)
     * @return Subscription
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Subscription subscribeToLoyaltyProgram(UUID pid, CreateSubscriptionPayload body) throws ApiException {
        ApiResponse<Subscription> resp = subscribeToLoyaltyProgramWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Create subscription
     * Subscribes to a loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Create Subscription Payload (required)
     * @return ApiResponse&lt;Subscription&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Subscription> subscribeToLoyaltyProgramWithHttpInfo(UUID pid, CreateSubscriptionPayload body) throws ApiException {
        Call call = subscribeToLoyaltyProgramValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<Subscription>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create subscription (asynchronously)
     * Subscribes to a loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Create Subscription Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call subscribeToLoyaltyProgramAsync(UUID pid, CreateSubscriptionPayload body, final ApiCallback<Subscription> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = subscribeToLoyaltyProgramValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Subscription>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateLoyaltyProgram
     * @param pid Loyalty Program Id (required)
     * @param body Update Loyalty Program Payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call updateLoyaltyProgramCall(UUID pid, UpdateLoyaltyProgramPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/config/programs/{pid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call updateLoyaltyProgramValidateBeforeCall(UUID pid, UpdateLoyaltyProgramPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling updateLoyaltyProgram(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateLoyaltyProgram(Async)");
        }
        

        Call call = updateLoyaltyProgramCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update loyalty program
     * Updates loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Update Loyalty Program Payload (required)
     * @return LoyaltyProgram
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public LoyaltyProgram updateLoyaltyProgram(UUID pid, UpdateLoyaltyProgramPayload body) throws ApiException {
        ApiResponse<LoyaltyProgram> resp = updateLoyaltyProgramWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Update loyalty program
     * Updates loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Update Loyalty Program Payload (required)
     * @return ApiResponse&lt;LoyaltyProgram&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<LoyaltyProgram> updateLoyaltyProgramWithHttpInfo(UUID pid, UpdateLoyaltyProgramPayload body) throws ApiException {
        Call call = updateLoyaltyProgramValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update loyalty program (asynchronously)
     * Updates loyalty program
     * @param pid Loyalty Program Id (required)
     * @param body Update Loyalty Program Payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call updateLoyaltyProgramAsync(UUID pid, UpdateLoyaltyProgramPayload body, final ApiCallback<LoyaltyProgram> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = updateLoyaltyProgramValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<LoyaltyProgram>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
