/*
 * Brevo API
 * Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :   - Manage your campaigns and get the statistics   - Manage your contacts   - Send transactional Emails and SMS   - and much more...  You can download our wrappers at https://github.com/orgs/brevo  **Possible responses**   | Code | Message |   | :-------------: | ------------- |   | 200  | OK. Successful Request  |   | 201  | OK. Successful Creation |   | 202  | OK. Request accepted |   | 204  | OK. Successful Update/Deletion  |   | 400  | Error. Bad Request  |   | 401  | Error. Authentication Needed  |   | 402  | Error. Not enough credit, plan upgrade needed  |   | 403  | Error. Permission denied  |   | 404  | Error. Object does not exist |   | 405  | Error. Method not allowed  |   | 406  | Error. Not Acceptable  |   | 422  | Error. Unprocessable Entity | 
 *
 * OpenAPI spec version: 3.0.0
 * Contact: contact@brevo.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package brevoApi;

import brevo.ApiCallback;
import brevo.ApiClient;
import brevo.ApiException;
import brevo.ApiResponse;
import brevo.Configuration;
import brevo.Pair;
import brevo.ProgressRequestBody;
import brevo.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import brevoModel.MainAttributeRewardPayload;
import brevoModel.MainCodeCountHttpResponse;
import brevoModel.MainCreateRedeemPayload;
import brevoModel.MainCreateRewardPayload;
import brevoModel.MainCreateRewardResponse;
import brevoModel.MainErrorResponse;
import brevoModel.MainModelContactRewardsResp;
import brevoModel.MainRedeem;
import brevoModel.MainReward;
import brevoModel.MainRewardAttribution;
import brevoModel.MainRewardPage;
import brevoModel.MainRewardValidate;
import brevoModel.MainValidateRewardPayload;
import okhttp3.*;

import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RewardApi {
    private ApiClient apiClient;

    public RewardApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RewardApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getCodeCount
     * @param pid Loyalty Program ID (required)
     * @param cpid Code Pool ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getCodeCountCall(UUID pid, UUID cpid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/code-pools/{cpid}/codes-count"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "cpid" + "\\}", apiClient.escapeString(cpid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getCodeCountValidateBeforeCall(UUID pid, UUID cpid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling getCodeCount(Async)");
        }
        
        // verify the required parameter 'cpid' is set
        if (cpid == null) {
            throw new ApiException("Missing the required parameter 'cpid' when calling getCodeCount(Async)");
        }
        

        Call call = getCodeCountCall(pid, cpid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get code count
     * Get code count
     * @param pid Loyalty Program ID (required)
     * @param cpid Code Pool ID (required)
     * @return MainCodeCountHttpResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainCodeCountHttpResponse getCodeCount(UUID pid, UUID cpid) throws ApiException {
        ApiResponse<MainCodeCountHttpResponse> resp = getCodeCountWithHttpInfo(pid, cpid);
        return resp.getData();
    }

    /**
     * Get code count
     * Get code count
     * @param pid Loyalty Program ID (required)
     * @param cpid Code Pool ID (required)
     * @return ApiResponse&lt;MainCodeCountHttpResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainCodeCountHttpResponse> getCodeCountWithHttpInfo(UUID pid, UUID cpid) throws ApiException {
        Call call = getCodeCountValidateBeforeCall(pid, cpid, null, null);
        Type localVarReturnType = new TypeToken<MainCodeCountHttpResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get code count (asynchronously)
     * Get code count
     * @param pid Loyalty Program ID (required)
     * @param cpid Code Pool ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call getCodeCountAsync(UUID pid, UUID cpid, final ApiCallback<MainCodeCountHttpResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = getCodeCountValidateBeforeCall(pid, cpid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainCodeCountHttpResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidOffersGet
     * @param pid Loyalty Program ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param state State of the reward (optional, default to all)
     * @param version Version (optional, default to draft)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidOffersGetCall(UUID pid, Integer limit, Integer offset, String state, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/offers"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (state != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("state", state));
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidOffersGetValidateBeforeCall(UUID pid, Integer limit, Integer offset, String state, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidOffersGet(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidOffersGetCall(pid, limit, offset, state, version, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Reward Page API
     * Returns a reward page
     * @param pid Loyalty Program ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param state State of the reward (optional, default to all)
     * @param version Version (optional, default to draft)
     * @return MainRewardPage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainRewardPage loyaltyOfferProgramsPidOffersGet(UUID pid, Integer limit, Integer offset, String state, String version) throws ApiException {
        ApiResponse<MainRewardPage> resp = loyaltyOfferProgramsPidOffersGetWithHttpInfo(pid, limit, offset, state, version);
        return resp.getData();
    }

    /**
     * Get Reward Page API
     * Returns a reward page
     * @param pid Loyalty Program ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param state State of the reward (optional, default to all)
     * @param version Version (optional, default to draft)
     * @return ApiResponse&lt;MainRewardPage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainRewardPage> loyaltyOfferProgramsPidOffersGetWithHttpInfo(UUID pid, Integer limit, Integer offset, String state, String version) throws ApiException {
        Call call = loyaltyOfferProgramsPidOffersGetValidateBeforeCall(pid, limit, offset, state, version, null, null);
        Type localVarReturnType = new TypeToken<MainRewardPage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Reward Page API (asynchronously)
     * Returns a reward page
     * @param pid Loyalty Program ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param state State of the reward (optional, default to all)
     * @param version Version (optional, default to draft)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidOffersGetAsync(UUID pid, Integer limit, Integer offset, String state, String version, final ApiCallback<MainRewardPage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidOffersGetValidateBeforeCall(pid, limit, offset, state, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainRewardPage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidOffersPost
     * @param pid Loyalty Program ID (required)
     * @param payload Reward creation payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidOffersPostCall(UUID pid, MainCreateRewardPayload payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = payload;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/offers"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidOffersPostValidateBeforeCall(UUID pid, MainCreateRewardPayload payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidOffersPost(Async)");
        }
        
        // verify the required parameter 'payload' is set
        if (payload == null) {
            throw new ApiException("Missing the required parameter 'payload' when calling loyaltyOfferProgramsPidOffersPost(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidOffersPostCall(pid, payload, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a reward
     * Creates a new reward in loyalty program.
     * @param pid Loyalty Program ID (required)
     * @param payload Reward creation payload (required)
     * @return MainCreateRewardResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainCreateRewardResponse loyaltyOfferProgramsPidOffersPost(UUID pid, MainCreateRewardPayload payload) throws ApiException {
        ApiResponse<MainCreateRewardResponse> resp = loyaltyOfferProgramsPidOffersPostWithHttpInfo(pid, payload);
        return resp.getData();
    }

    /**
     * Create a reward
     * Creates a new reward in loyalty program.
     * @param pid Loyalty Program ID (required)
     * @param payload Reward creation payload (required)
     * @return ApiResponse&lt;MainCreateRewardResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainCreateRewardResponse> loyaltyOfferProgramsPidOffersPostWithHttpInfo(UUID pid, MainCreateRewardPayload payload) throws ApiException {
        Call call = loyaltyOfferProgramsPidOffersPostValidateBeforeCall(pid, payload, null, null);
        Type localVarReturnType = new TypeToken<MainCreateRewardResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a reward (asynchronously)
     * Creates a new reward in loyalty program.
     * @param pid Loyalty Program ID (required)
     * @param payload Reward creation payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidOffersPostAsync(UUID pid, MainCreateRewardPayload payload, final ApiCallback<MainCreateRewardResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidOffersPostValidateBeforeCall(pid, payload, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainCreateRewardResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidRewardsAttributePost
     * @param pid Loyalty Program ID (required)
     * @param payload Voucher creation payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsAttributePostCall(UUID pid, MainAttributeRewardPayload payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = payload;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/rewards/attribute"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidRewardsAttributePostValidateBeforeCall(UUID pid, MainAttributeRewardPayload payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidRewardsAttributePost(Async)");
        }
        
        // verify the required parameter 'payload' is set
        if (payload == null) {
            throw new ApiException("Missing the required parameter 'payload' when calling loyaltyOfferProgramsPidRewardsAttributePost(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidRewardsAttributePostCall(pid, payload, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a voucher
     * Create a voucher and attribute it to a specific membership.
     * @param pid Loyalty Program ID (required)
     * @param payload Voucher creation payload (required)
     * @return MainRewardAttribution
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainRewardAttribution loyaltyOfferProgramsPidRewardsAttributePost(UUID pid, MainAttributeRewardPayload payload) throws ApiException {
        ApiResponse<MainRewardAttribution> resp = loyaltyOfferProgramsPidRewardsAttributePostWithHttpInfo(pid, payload);
        return resp.getData();
    }

    /**
     * Create a voucher
     * Create a voucher and attribute it to a specific membership.
     * @param pid Loyalty Program ID (required)
     * @param payload Voucher creation payload (required)
     * @return ApiResponse&lt;MainRewardAttribution&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainRewardAttribution> loyaltyOfferProgramsPidRewardsAttributePostWithHttpInfo(UUID pid, MainAttributeRewardPayload payload) throws ApiException {
        Call call = loyaltyOfferProgramsPidRewardsAttributePostValidateBeforeCall(pid, payload, null, null);
        Type localVarReturnType = new TypeToken<MainRewardAttribution>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a voucher (asynchronously)
     * Create a voucher and attribute it to a specific membership.
     * @param pid Loyalty Program ID (required)
     * @param payload Voucher creation payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsAttributePostAsync(UUID pid, MainAttributeRewardPayload payload, final ApiCallback<MainRewardAttribution> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidRewardsAttributePostValidateBeforeCall(pid, payload, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainRewardAttribution>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidRewardsRedeemPost
     * @param pid Loyalty Program ID (required)
     * @param payload Redeem transaction creation payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRedeemPostCall(UUID pid, MainCreateRedeemPayload payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = payload;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/rewards/redeem"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidRewardsRedeemPostValidateBeforeCall(UUID pid, MainCreateRedeemPayload payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidRewardsRedeemPost(Async)");
        }
        
        // verify the required parameter 'payload' is set
        if (payload == null) {
            throw new ApiException("Missing the required parameter 'payload' when calling loyaltyOfferProgramsPidRewardsRedeemPost(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidRewardsRedeemPostCall(pid, payload, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create redeem voucher request
     * Creates a request to redeem a voucher.
     * @param pid Loyalty Program ID (required)
     * @param payload Redeem transaction creation payload (required)
     * @return MainRedeem
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainRedeem loyaltyOfferProgramsPidRewardsRedeemPost(UUID pid, MainCreateRedeemPayload payload) throws ApiException {
        ApiResponse<MainRedeem> resp = loyaltyOfferProgramsPidRewardsRedeemPostWithHttpInfo(pid, payload);
        return resp.getData();
    }

    /**
     * Create redeem voucher request
     * Creates a request to redeem a voucher.
     * @param pid Loyalty Program ID (required)
     * @param payload Redeem transaction creation payload (required)
     * @return ApiResponse&lt;MainRedeem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainRedeem> loyaltyOfferProgramsPidRewardsRedeemPostWithHttpInfo(UUID pid, MainCreateRedeemPayload payload) throws ApiException {
        Call call = loyaltyOfferProgramsPidRewardsRedeemPostValidateBeforeCall(pid, payload, null, null);
        Type localVarReturnType = new TypeToken<MainRedeem>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create redeem voucher request (asynchronously)
     * Creates a request to redeem a voucher.
     * @param pid Loyalty Program ID (required)
     * @param payload Redeem transaction creation payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRedeemPostAsync(UUID pid, MainCreateRedeemPayload payload, final ApiCallback<MainRedeem> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidRewardsRedeemPostValidateBeforeCall(pid, payload, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainRedeem>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidRewardsRedeemTidCompletePost
     * @param pid Loyalty Program ID (required)
     * @param tid Redeem transaction ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRedeemTidCompletePostCall(UUID pid, String tid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/rewards/redeem/{tid}/complete"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "tid" + "\\}", apiClient.escapeString(tid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidRewardsRedeemTidCompletePostValidateBeforeCall(UUID pid, String tid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidRewardsRedeemTidCompletePost(Async)");
        }
        
        // verify the required parameter 'tid' is set
        if (tid == null) {
            throw new ApiException("Missing the required parameter 'tid' when calling loyaltyOfferProgramsPidRewardsRedeemTidCompletePost(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidRewardsRedeemTidCompletePostCall(pid, tid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Complete redeem voucher request
     * Completes voucher redeem request.
     * @param pid Loyalty Program ID (required)
     * @param tid Redeem transaction ID (required)
     * @return MainRedeem
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainRedeem loyaltyOfferProgramsPidRewardsRedeemTidCompletePost(UUID pid, String tid) throws ApiException {
        ApiResponse<MainRedeem> resp = loyaltyOfferProgramsPidRewardsRedeemTidCompletePostWithHttpInfo(pid, tid);
        return resp.getData();
    }

    /**
     * Complete redeem voucher request
     * Completes voucher redeem request.
     * @param pid Loyalty Program ID (required)
     * @param tid Redeem transaction ID (required)
     * @return ApiResponse&lt;MainRedeem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainRedeem> loyaltyOfferProgramsPidRewardsRedeemTidCompletePostWithHttpInfo(UUID pid, String tid) throws ApiException {
        Call call = loyaltyOfferProgramsPidRewardsRedeemTidCompletePostValidateBeforeCall(pid, tid, null, null);
        Type localVarReturnType = new TypeToken<MainRedeem>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Complete redeem voucher request (asynchronously)
     * Completes voucher redeem request.
     * @param pid Loyalty Program ID (required)
     * @param tid Redeem transaction ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRedeemTidCompletePostAsync(UUID pid, String tid, final ApiCallback<MainRedeem> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidRewardsRedeemTidCompletePostValidateBeforeCall(pid, tid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainRedeem>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidRewardsRevokeDelete
     * @param pid Loyalty Program ID (required)
     * @param attributedRewardIds Reward Attribution IDs (comma seperated) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRevokeDeleteCall(UUID pid, String attributedRewardIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/rewards/revoke"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (attributedRewardIds != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("attributedRewardIds", attributedRewardIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidRewardsRevokeDeleteValidateBeforeCall(UUID pid, String attributedRewardIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidRewardsRevokeDelete(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidRewardsRevokeDeleteCall(pid, attributedRewardIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Revoke vouchers
     * Revoke attributed vouchers.
     * @param pid Loyalty Program ID (required)
     * @param attributedRewardIds Reward Attribution IDs (comma seperated) (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String loyaltyOfferProgramsPidRewardsRevokeDelete(UUID pid, String attributedRewardIds) throws ApiException {
        ApiResponse<String> resp = loyaltyOfferProgramsPidRewardsRevokeDeleteWithHttpInfo(pid, attributedRewardIds);
        return resp.getData();
    }

    /**
     * Revoke vouchers
     * Revoke attributed vouchers.
     * @param pid Loyalty Program ID (required)
     * @param attributedRewardIds Reward Attribution IDs (comma seperated) (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> loyaltyOfferProgramsPidRewardsRevokeDeleteWithHttpInfo(UUID pid, String attributedRewardIds) throws ApiException {
        Call call = loyaltyOfferProgramsPidRewardsRevokeDeleteValidateBeforeCall(pid, attributedRewardIds, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Revoke vouchers (asynchronously)
     * Revoke attributed vouchers.
     * @param pid Loyalty Program ID (required)
     * @param attributedRewardIds Reward Attribution IDs (comma seperated) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRevokeDeleteAsync(UUID pid, String attributedRewardIds, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidRewardsRevokeDeleteValidateBeforeCall(pid, attributedRewardIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidRewardsRidGet
     * @param pid Loyalty Program ID (required)
     * @param rid Reward ID (required)
     * @param version Version (optional, default to draft)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRidGetCall(UUID pid, UUID rid, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/rewards/{rid}"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()))
            .replaceAll("\\{" + "rid" + "\\}", apiClient.escapeString(rid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidRewardsRidGetValidateBeforeCall(UUID pid, UUID rid, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidRewardsRidGet(Async)");
        }
        
        // verify the required parameter 'rid' is set
        if (rid == null) {
            throw new ApiException("Missing the required parameter 'rid' when calling loyaltyOfferProgramsPidRewardsRidGet(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidRewardsRidGetCall(pid, rid, version, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get reward information
     * Returns reward information.
     * @param pid Loyalty Program ID (required)
     * @param rid Reward ID (required)
     * @param version Version (optional, default to draft)
     * @return MainReward
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainReward loyaltyOfferProgramsPidRewardsRidGet(UUID pid, UUID rid, String version) throws ApiException {
        ApiResponse<MainReward> resp = loyaltyOfferProgramsPidRewardsRidGetWithHttpInfo(pid, rid, version);
        return resp.getData();
    }

    /**
     * Get reward information
     * Returns reward information.
     * @param pid Loyalty Program ID (required)
     * @param rid Reward ID (required)
     * @param version Version (optional, default to draft)
     * @return ApiResponse&lt;MainReward&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainReward> loyaltyOfferProgramsPidRewardsRidGetWithHttpInfo(UUID pid, UUID rid, String version) throws ApiException {
        Call call = loyaltyOfferProgramsPidRewardsRidGetValidateBeforeCall(pid, rid, version, null, null);
        Type localVarReturnType = new TypeToken<MainReward>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get reward information (asynchronously)
     * Returns reward information.
     * @param pid Loyalty Program ID (required)
     * @param rid Reward ID (required)
     * @param version Version (optional, default to draft)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsRidGetAsync(UUID pid, UUID rid, String version, final ApiCallback<MainReward> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidRewardsRidGetValidateBeforeCall(pid, rid, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainReward>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidRewardsValidatePost
     * @param pid Loyalty Program ID (required)
     * @param body Reward validation payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsValidatePostCall(UUID pid, MainValidateRewardPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/rewards/validate"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidRewardsValidatePostValidateBeforeCall(UUID pid, MainValidateRewardPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidRewardsValidatePost(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling loyaltyOfferProgramsPidRewardsValidatePost(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidRewardsValidatePostCall(pid, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Validate a reward
     * Validates a reward.
     * @param pid Loyalty Program ID (required)
     * @param body Reward validation payload (required)
     * @return MainRewardValidate
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainRewardValidate loyaltyOfferProgramsPidRewardsValidatePost(UUID pid, MainValidateRewardPayload body) throws ApiException {
        ApiResponse<MainRewardValidate> resp = loyaltyOfferProgramsPidRewardsValidatePostWithHttpInfo(pid, body);
        return resp.getData();
    }

    /**
     * Validate a reward
     * Validates a reward.
     * @param pid Loyalty Program ID (required)
     * @param body Reward validation payload (required)
     * @return ApiResponse&lt;MainRewardValidate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainRewardValidate> loyaltyOfferProgramsPidRewardsValidatePostWithHttpInfo(UUID pid, MainValidateRewardPayload body) throws ApiException {
        Call call = loyaltyOfferProgramsPidRewardsValidatePostValidateBeforeCall(pid, body, null, null);
        Type localVarReturnType = new TypeToken<MainRewardValidate>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Validate a reward (asynchronously)
     * Validates a reward.
     * @param pid Loyalty Program ID (required)
     * @param body Reward validation payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidRewardsValidatePostAsync(UUID pid, MainValidateRewardPayload body, final ApiCallback<MainRewardValidate> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidRewardsValidatePostValidateBeforeCall(pid, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainRewardValidate>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for loyaltyOfferProgramsPidVouchersGet
     * @param pid Loyalty Program ID (required)
     * @param contactId Contact ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param sort Sort order (optional, default to desc)
     * @param sortField Sort field (optional, default to updatedAt)
     * @param metadataKeyValue Metadata value for a Key filter (optional)
     * @param rewardId Reward ID (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call loyaltyOfferProgramsPidVouchersGetCall(UUID pid, Integer contactId, Integer limit, Integer offset, String sort, String sortField, String metadataKeyValue, String rewardId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/loyalty/offer/programs/{pid}/vouchers"
            .replaceAll("\\{" + "pid" + "\\}", apiClient.escapeString(pid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
        if (sortField != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortField", sortField));
        if (contactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("contactId", contactId));
        if (metadataKeyValue != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("metadata[key][value]", metadataKeyValue));
        if (rewardId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rewardId", rewardId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Interceptor.Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api-key", "partner-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call loyaltyOfferProgramsPidVouchersGetValidateBeforeCall(UUID pid, Integer contactId, Integer limit, Integer offset, String sort, String sortField, String metadataKeyValue, String rewardId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pid' is set
        if (pid == null) {
            throw new ApiException("Missing the required parameter 'pid' when calling loyaltyOfferProgramsPidVouchersGet(Async)");
        }
        
        // verify the required parameter 'contactId' is set
        if (contactId == null) {
            throw new ApiException("Missing the required parameter 'contactId' when calling loyaltyOfferProgramsPidVouchersGet(Async)");
        }
        

        Call call = loyaltyOfferProgramsPidVouchersGetCall(pid, contactId, limit, offset, sort, sortField, metadataKeyValue, rewardId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get voucher for a contact
     * Get voucher for a contact
     * @param pid Loyalty Program ID (required)
     * @param contactId Contact ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param sort Sort order (optional, default to desc)
     * @param sortField Sort field (optional, default to updatedAt)
     * @param metadataKeyValue Metadata value for a Key filter (optional)
     * @param rewardId Reward ID (optional)
     * @return MainModelContactRewardsResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MainModelContactRewardsResp loyaltyOfferProgramsPidVouchersGet(UUID pid, Integer contactId, Integer limit, Integer offset, String sort, String sortField, String metadataKeyValue, String rewardId) throws ApiException {
        ApiResponse<MainModelContactRewardsResp> resp = loyaltyOfferProgramsPidVouchersGetWithHttpInfo(pid, contactId, limit, offset, sort, sortField, metadataKeyValue, rewardId);
        return resp.getData();
    }

    /**
     * Get voucher for a contact
     * Get voucher for a contact
     * @param pid Loyalty Program ID (required)
     * @param contactId Contact ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param sort Sort order (optional, default to desc)
     * @param sortField Sort field (optional, default to updatedAt)
     * @param metadataKeyValue Metadata value for a Key filter (optional)
     * @param rewardId Reward ID (optional)
     * @return ApiResponse&lt;MainModelContactRewardsResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MainModelContactRewardsResp> loyaltyOfferProgramsPidVouchersGetWithHttpInfo(UUID pid, Integer contactId, Integer limit, Integer offset, String sort, String sortField, String metadataKeyValue, String rewardId) throws ApiException {
        Call call = loyaltyOfferProgramsPidVouchersGetValidateBeforeCall(pid, contactId, limit, offset, sort, sortField, metadataKeyValue, rewardId, null, null);
        Type localVarReturnType = new TypeToken<MainModelContactRewardsResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get voucher for a contact (asynchronously)
     * Get voucher for a contact
     * @param pid Loyalty Program ID (required)
     * @param contactId Contact ID (required)
     * @param limit Page size (optional, default to 25)
     * @param offset Pagination offset (optional, default to 0)
     * @param sort Sort order (optional, default to desc)
     * @param sortField Sort field (optional, default to updatedAt)
     * @param metadataKeyValue Metadata value for a Key filter (optional)
     * @param rewardId Reward ID (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public Call loyaltyOfferProgramsPidVouchersGetAsync(UUID pid, Integer contactId, Integer limit, Integer offset, String sort, String sortField, String metadataKeyValue, String rewardId, final ApiCallback<MainModelContactRewardsResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        Call call = loyaltyOfferProgramsPidVouchersGetValidateBeforeCall(pid, contactId, limit, offset, sort, sortField, metadataKeyValue, rewardId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MainModelContactRewardsResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
